[2020-10-12 09:15] #2795 closed

[2020-10-12 18:08] JoviDeCroock commented on #2712
Hey,

Seems to be working with current latest https://codesandbox.io/s/competent-matsumoto-62oz4?file=/package.json

[2020-10-12 21:43] sventschui commented on #2574
@heymartinadams that "total hack" how you call it seems a bit off to me. Adding the react-refresh runtime manually doesn't feel right. @JoviDeCroock spent quite some time to create prefresh - the react-refresh alternative for preact. It even features a next.js plugin (https://github.com/JoviDeCroock/prefresh/tree/main/packages/next).

As @developit mentioned I maintain a next.js plugin that will t

[2020-10-12 22:49] prbxr commented on #2718
@vattenapa How do you  manage Preact/compat to work with Storybook ?
There is this PR
And I wrote there that even the aliasing didn't help
https://github.com/storybookjs/storybook/pull/12403

[2020-10-13 17:04] jaredh159 opened #2797 "preact rendering <style> tag inside <noscript>, whereas react does not"
I'm not sure if this matters to the library maintainers, or how much compatibility/interop with React is a goal, but I noticed a subtle difference between React and Preact that caused a fairly big blocker trying to switch a Gatsby site over to preact.

Basically, this jsx:

[code]

Renders differently between React and preact.  In react, you get an **empty** `<noscript>` tag.  Preact renders out t

[2020-10-13 19:58] marvinhagemeister commented on #2797
That sounds like React isn't following the [HTML-Spec](https://html.spec.whatwg.org/multipage/scripting.html#the-noscript-element) correctly. It states:

Which translates as any of the usual elements is a valid descendant of a `<noscript>` element, even `<style>` tags. The rules are different when the `<noscript>` is inside the `<head>` section of the document. In the linked codesandbox that's not

[2020-10-13 20:20] jaredh159 commented on #2797
@marvinhagemeister yeah, i understand your reasoning here.  digging into it a bit more, it seems react made a conscious decision to ignore the contents of the `<noscript>` when they are client-rendering:

https://github.com/facebook/react/blob/e614e6965749c096c9db0e6ad2844a2803ebdcb6/packages/react-dom/src/__tests__/ReactDOMServerIntegrationElements-test.js#L594

Which kind of makes sense, if you

[2020-10-14 02:11] cywhale commented on #2790
I found this problem is only on desktop (cannot be dragged by mouse) but work on mobile (draggable by touch). (But it works for both desktop and mobile on React app).

[2020-10-14 08:10] hc-codersatlas commented on #2712
Thanks, has fixed this issue. Now get an error related to nested suspense, but I can already see a PR for it.

[2020-10-14 08:10] #2712 closed

[2020-10-14 08:12] JoviDeCroock commented on #2712
Yes, `nested-suspense` boundaries without dom-nodes in between are currently an issue. It hasn't been fixed yet but it has been identified.

[2020-10-14 19:32] taurheim commented on #1621
I have an issue exactly as @robertknight describes where we are using a 3rd party library that does not work due to onFocus not bubbling.

Is this planned to be fixed? or considered to be a "Difference to react"?

[2020-10-15 18:34] sventschui commented on #2790
At a quick glance I found the `preventDefault` / `stopPropagation` causing this. The problem when commenting them is that the menu popps open when dragging the items. I'll try to take a deeper look in the following days.

[2020-10-16 19:06] ikolobar opened #2798 "Rendering from useEffect can break hooks"
If a component calls render from an effect or effect cleanup, and it rerenders before the effect runs, then its hook state breaks.

### Reproduction

https://codesandbox.io/s/stoic-elbakyan-020m2

### Steps to reproduce

Click the button. This will increment the counter once immediately, and then again in a microtask (so that it happens before the effect runs from requestAnimationFrame). The effec

[2020-10-16 20:37] heymartinadams commented on #2574
While I wasn’t able to use @JoviDeCroock’s `@prefresh/next` in conjunction with your `withPreact` package, it seems your `withPreact` package alone did the trick — thank you (and thanks, @developit for pointing it out)!

### next.config.js
[code]

@sventschui Oh, totally. when it comes to Webpack and configurations, I’m like a toddler in the pilot’s seat: I have no business being there 😬 You’re ri

[2020-10-17 21:58] coldshower opened #2799 "[Typescript] Allow alt attribute to be string or Element?"
https://github.com/preactjs/preact/blob/master/src/jsx.d.ts#L607

How do you feel about making the type for `alt` be allowed to be either a string or an Element?

Asking because when internationalization libraries like `react-intl` are used, we may want to do something like this:

[code]

but the current types prohibit this and ask us to pass a `string` to the `alt` attribute instead.

[2020-10-18 10:33] marvinhagemeister commented on #2799
It's a slippery slope as any attribute can potentially be a JSX element at which point everything would result in being typed as `any`. A more practical approach is to use the hooks API from `react-inlt`. It avoids this problem alltogether.

According to [one of their examples](https://github.com/formatjs/formatjs/blob/main/packages/react-intl/examples/Hooks.tsx) it would look like the following:

[2020-10-18 10:33] #2799 closed

[2020-10-18 15:01] johakr opened #2801 "Babel ^7.12.0 breaks preact jsx-runtime export"
Hi,

due to this change in babel https://github.com/babel/babel/pull/12116/commits/d6b0822ee9e95321a417b321a6687048faf1c3a1, the preact jsx runtime can't be imported anymore. Preact exports the jsx-runtime as folder, but babel expects a file with file ending `.js` now (`${source}/jsx-runtime.js` and `${source}/jsx-dev-runtime.js`).

`Module not found: Error: Can't resolve 'preact/jsx-runtime.js'`

[2020-10-18 20:31] sventschui commented on #2790
I just took a deeper look and to be honest I'm a bit surprised this works in react. It must be due to reacts custom event system.

What happens is that the `e.stopPropagation()` called in the `onMouseDown` listener of the `SortableMultiValue` prevents the event from bubbling to the event listener of the `SortableContainer(Select)` and thus `react-sortable-hoc` never gets a `MouseDown` Event.

The

[2020-10-19 01:20] coldshower commented on #2799
Thanks for the response!

[2020-10-19 01:31] cywhale commented on #2790
@sventschui Thanks! I had ever tried useContext/useRef but really don't know how to achieve these "magics" before your solutions. Save my days! I think I can close this issue and I'll update my unsolved stackoverflow with this issue link. Must someone has the same problem as me^^.

[2020-10-19 01:31] #2790 closed

[2020-10-19 19:24] nicolo-ribaudo commented on #2801
Fixed in `@babel/helper-builder-react-jsx-experimental@7.12.4`

[2020-10-20 09:26] #2801 closed

[2020-10-20 09:47] persocon commented on #1966
having the same issue, latest preact, latest gatsby and all 🤷

[2020-10-20 10:05] marvinhagemeister commented on #1966
cc @wardpeet

[2020-10-20 17:02] wardpeet commented on #1966
@persocon are you sure you've updated to latest gatsby & plugin-preact? I know we had an issue with the jsx-runtime check that react and babel had introduced

https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html

[2020-10-21 09:48] sventschui commented on #2574
@heymartinadams the `next-plugin-preact` already includes `prefresh/next` and thus you do not have to add it manually.

[2020-10-22 05:47] #2798 closed

[2020-10-22 11:52] persocon commented on #1966
@wardpeet HEHEHEHEHEHEHE THAT WORKS!!!! daaaamn life saver :) thanks a lot <3

[2020-10-22 13:50] developit commented on #2797
Here's a patch that makes Preact skip noscript contents on the client only:

[code]

[2020-10-22 15:50] jaredh159 commented on #2797
@developit thanks! I didn't know about the options hooks API, but i looked it over and I think I understand.  I'm not exactly sure _where_ I'd implement this, but I'm guessing if I stick it in some entry-type file to hook in before Preact does any work, that would be the ticket.  I'll give it a go. Appreciate the help!

[2020-10-22 16:38] developit commented on #2797
@jaredh159 yep! Just have it run before your component code.

[2020-10-22 20:48] developit commented on #948
Hi all,

I finally got some time to write up a resilient solution to this:
https://gist.github.com/developit/3e807962630ddbd4977cbd07b597f24f

It intercepts Google Translate when it goes to replace Text nodes with its <font> elements, and turns the <font> into a mock-text-node from Preact's perspective, and rewrites some properties that cause it to be diffed as if it were still the same Text node.

[2020-10-22 20:58] ikolobar commented on #2798
@JoviDeCroock  Thanks for the quick fix!

If I'm understanding the change correctly, it fixes the issue of losing the hook value. This setup was also causing a "Hook can only be invoked from render methods." error with preact/debug, because render resets hooksAllow to false. Is that also fixed by this?

[2020-10-22 21:22] JoviDeCroock commented on #2798
It should yes, so basically because currentComponent was null it would result in this behavior. I'll double check 👍

[2020-10-23 20:50] sventschui opened #2806 "DOM of suspended vnodes not removed when hydrating"
Just discovered in a next.js app that when we hydrate and a Suspense barrier enters suspended mode we do not unmount its childrens DOM but instead render the fallback as well as the SSR'd DOM.

[2020-10-24 09:14] JoviDeCroock commented on #948
Since there's a workaround, let's close this up, if there are any more issues feel free to make a new issue/reopen!

[2020-10-24 09:14] JoviDeCroock commented on #959
Since this is for another repo (docs/unistore) let's close this.

[2020-10-24 09:14] #959 closed

[2020-10-24 09:18] JoviDeCroock commented on #1011
The behavior of portals has improved with the release of Preact X, this also seems to work properly now. If you encounter any issues feel free to reopen.

[2020-10-24 09:18] #1011 closed

[2020-10-24 09:20] JoviDeCroock commented on #1355
This is documented [here](https://preactjs.com/guide/v10/debugging#strip-devtools-from-production) and is a side-effect of how ESM works, we can't really conditionally import in our bundle (async imports on your side however are an option but not in libraries).

[2020-10-24 09:20] #1355 closed

[2020-10-24 09:21] JoviDeCroock commented on #1061
This has been documented in https://github.com/preactjs/preact-www/issues/615

[2020-10-24 09:21] #1061 closed

[2020-10-24 09:23] #2425 closed

[2020-10-24 09:24] JoviDeCroock commented on #1459
Closing due to inactivity

[2020-10-24 09:24] #1459 closed

[2020-10-24 09:26] JoviDeCroock commented on #1875
Closing issue since it seems to be working as intended.

[2020-10-24 09:26] #1875 closed

[2020-10-24 09:27] JoviDeCroock commented on #1882
Closing due to us moving to our own DevTools extension which is documented on the preact site.

[2020-10-24 09:27] #1882 closed

[2020-10-24 09:27] #2008 closed

[2020-10-24 09:28] JoviDeCroock commented on #2140
Closing due to inactivity.

[2020-10-24 09:28] #2140 closed

[2020-10-24 18:32] adonig commented on #428
What will happen if someone replaces `useCapture` with `{ capture: useCapture, passive: true }` here?

https://github.com/preactjs/preact/blob/0c14a92a98e8ed8427aa4a9dc9db09045fc5b27a/src/diff/props.js#L102

Will it break something? 😅

[2020-10-25 05:10] developit commented on #428
@adonig yes - passive events cannot use preventDefault(), which is extremely common.

[2020-10-25 11:15] adonig commented on #428
@developit I see. So even when we differentiate between certain types of events, the lighthouse check would complain about the one addEventListener call without the truthy passive option. I think this is a problem with [lighthouse](https://github.com/GoogleChrome/lighthouse), potentially leading to over-optimization. I found two open issues related to passive event listeners there: https://github.

[2020-10-25 11:29] adonig commented on #428
Correction: It looks like it worked like that

1. Collect all event listeners on the page.
2. Filter out non-touch and non-wheel listeners.
3. Filter out listeners that call preventDefault().
4. Filter out listeners that are from a different host than the page.

but then Chrome changed the policy [to warn on any touchevent with a non-passive listener](https://github.com/GoogleChrome/lighthouse/iss

[2020-10-26 11:34] ChenKS12138 commented on #1899
I also encountered the same problem and I solved it like this
[code]

[2020-10-27 07:24] sventschui commented on #1422
The following CSB shows how one can use the keyPress event to sort of polyfill onBeforeInput in Browsers that do not support it: https://codesandbox.io/s/determined-kalam-65v9h?file=/src/index.js

Note that you should still disable spellCheck & autoComplete in those browsers as this won't work with react neither. Open a slate example (https://www.slatejs.org/examples/richtext), add a typo, correct

[2020-10-27 07:24] sventschui commented on #2789
This is not related to hooks but rather FF not implementing onBeforeInput but slate relying on it. React ships a rather incomplete polyfill that breaks with spellcheck/autocorrect.

I'll close this as a duplicate of https://github.com/preactjs/preact/issues/1422, have a look at the comment I just left there.

[2020-10-27 07:24] #2789 closed

[2020-10-27 21:58] hiltpold opened #2807 "wrong export"
The index.js exports `export { unmount as __u } from './diff';` on line 13.
Shouldn't that be changed to `export { unmount as __u } from './diff/index';` ?

[2020-10-27 22:00] JoviDeCroock commented on #2807
When building Preact this will automatically be converted to `./diff/index.js` since most build tools support this.

[2020-10-27 22:01] #2807 closed

[2020-10-27 22:15] hiltpold commented on #2807
Thank you! I don't use such tools and work with vanilla ES6 modules. But I configured my web server to imitate the behaviour you explained.

[2020-10-27 22:16] JoviDeCroock commented on #2807
This behavior is not present in the built files, you can just use https://unpkg.com/preact@10.5.5/dist/preact.module.js?module in an import statement.

[2020-10-28 00:34] osdevisnot commented on #2621
If I may add my question here. Preact has been phenomenal at React feature parity and I assume same for Concurrent Mode.

So, should we anticipate CM in Preact 11?

[2020-10-28 07:57] marvinhagemeister commented on #2621
@osdevisnot No, we currently have no plans to support Concurrent Mode. It's still up in the air whether CM is something that benefits apps at all, even for React. The current implementation in React breaks most state management libraries: https://github.com/facebook/react/issues/15317#issuecomment-716844024

Most of our current focus is on progressive hydration, faster SSR and lazy loading things.

[2020-10-28 17:05] mstarets commented on #2791
Given the direction outlined by https://github.com/preactjs/preact/pull/2627 (the 'replace' mode being potentially removed in release 11), I think we should close this issue for now. I have prototyped stubbing out the parent node as shown in https://gist.github.com/developit/7c1b983dbd2cb68e6cefd367dfcf0ca1, and this would allow us to avoid relying on the 'replace' mode and avoid the issue with ex

[2020-10-28 17:05] #2791 closed

[2020-10-29 09:57] dioslaska commented on #2449
@developit I'm still interested in this. Meanwhile there were other priorities, and we lived with the workarounds for 10.0.0, but we're encountering other Preact bugs that are most probably fixed in more recent versions, so having this working would great.

[2020-10-30 11:39] droganov opened #2809 "Suspense renders twice on client when used with SSR"
To reproduce render a page on server, and then do client render

As a result Suspense blocks got rendered twice on the same client page
Client block is rendered above server block, and captures user events
SSR block is rendered below and does not capture user events

Expected behavior is to replace SSR blocks client with client blocks

If I disable JS in browser the blocks do not duplicate
When no

[2020-10-30 11:52] JoviDeCroock commented on #2809
Could you provide a reproduction, main question to be answerred here isare you resolving boundaries on the server?

Example sandbox: https://codesandbox.io/s/reverent-colden-i3jcu

[2020-10-30 16:50] droganov commented on #2809
@JoviDeCroock Thank you for quick response

I checked you example and I need to close this.

The case was that I used "preact-ssr-prepass": "^1.1.1"
it wasn't resolving lazy imports, so I had a direct import on server side to prevent errors

after bumping it to "preact-ssr-prepass": "^1.1.2" the problem has gone

[2020-10-30 16:50] #2809 closed

[2020-10-30 18:33] Debdut opened #2810 "Pre rendering very slow and memory expensive"
### Steps to reproduce

I am building with pre-render about 1000 pages.

### Expected Behavior

I expect 1K pages rendering to take significantly less time and less memory.

### Actual Behavior

When I try to build on a 2GB memory container, it fails with Out of Memory Error (Exit Status 137). It takes about 1 hr on 4GB machine with 4 vCPUs to build.

As it seems from the building process, preact

[2020-10-31 21:55] heymartinadams opened #2812 "How does one modify child props in Preact?"
I couldn’t find anywhere in the docs how to modify props of child components.

In my case, if the parent component `<Modal padding={true}>` has a `padding: true` prop, I’d like one of its children `<ModalContent>` to automatically also be assigned a `padding: true` prop as well (but not to some of `<Modal>`’s other children).

[code]

[2020-11-02 07:23] marvinhagemeister commented on #2812
Note that strong coupling between parent and direct children is discouraged, because it breaks the composition model of components. By doing so you'd effectively disallow consumers to use their own components.

In general there are two ways to do that:

## cloneElement

The `cloneElement` function can be used to clone a child and to pass new props to it.

[code]

The `cloneElement` approach has th

[2020-11-02 07:24] #2812 closed

[2020-11-03 03:15] heymartinadams commented on #2812
Herzlichen Dank, @marvinhagemeister 🙏 🎉

[2020-11-04 18:04] GoodForOneFare opened #2814 "An effect that inserts iframes may run twice in Safari"
### Reproduction
Here's a codesandbox showing a Preact effect running twice in Safari: https://codesandbox.io/s/safari-duplicate-effects-b2lnf.

| Chrome result | Safari result |
| ----- | ----- |
| <img width="477" alt="safari-duplicate-effects - CodeSandbox 2020-11-04 12-58-32" src="https://user-images.githubusercontent.com/673655/98150995-7ebdd180-1e9d-11eb-8134-d6b418b015e1.png"> | <img width=

[2020-11-05 11:34] tbgse commented on #2574
@heymartinadams i have exactly the same problem as you but unfortunately simply moving to `next-plugin-preact` did not change anything for me. Is there anything else you had to do in order to make this work?

[2020-11-05 17:43] heymartinadams commented on #2574
@tbgse did the following:

### next.config.js
[code]

### package.json
[code]

[2020-11-06 09:34] marvinhagemeister commented on #2814
I can reproduce that in the latest Safari. It seems like it does something different when scheduling `requestAnimationFrame` callbacks and all `useEffect` callbacks are called twice. When replaced with a micro-task scheduler it works as expected:

[code]

[2020-11-06 14:12] developit commented on #2814
Another option would be to use a double promise resolution for the render queue.

[2020-11-06 19:55] darsain commented on #2783
Was told my issues is related, so here is my case report:

Whenever you remove an uncertain number of elements from a keyed list, the elements after them get remounted. The number seems to differ between environments. On my local app it's 20+, on the isolated example below it's 50+.

Here is a visualization of the issue. Elements that get remounted flash red. The last 20 items should never flash,

[2020-11-09 19:48] ansonatloop opened #2821 "class prop is getting leaked again when using className"
The `class` prop is getting leaked to components when using `className` since `10.5.4`.

This bug was fixed in `10.5.3` via #2772 and seems to have an older, still-open bug via #2582. I'm opening this issue as it seems #2582 was forgotten about.

It would be great to squash this zombie bug for eternity, as it causes quite a bit of issues (predictably).

Example:
[code]
In `10.5.3`, `"my-class"` wi

[2020-11-11 12:32] #2515 closed

[2020-11-12 09:44] piotr-cz opened #2824 "TypeError: Ir is not a function or its return value is not iterable"
### Reproduction

preact@10.5.5
browser: Chromium 72.0.3626

Code below _may_ throw **TypeError: Ir is not a function or its return value is not iterable** when calling the `setState` function:

[code]

Called from `../../../node_modules/preact/dist/preact.module.js in render at line 1:8161`
Maps to [`../../../node_modules/preact/src/diff/index.js:525:13 (constructor)`](https://github.com/preactjs

[2020-11-12 11:07] marvinhagemeister commented on #2824
One cannot nest built-in hooks. If you add `preact/debug` as the top import in you're entry file you'll get an error message for that.

[code]

[2020-11-12 11:07] #2824 closed

[2020-11-12 12:45] piotr-cz commented on #2824
@marvinhagemeister Thank you!

Indeed when I've imported `preact/debug`, full error message was [Hook can only be invoked from render methods](
https://preactjs.com/guide/v10/debugging/#hook-can-only-be-invoked-from-render-methods) and I've adapted code as per your suggestion.

I'm not completely sure these two issues are related as original exception showed up just once (not on every render) but

[2020-11-12 12:48] marvinhagemeister commented on #2824
@piotr-cz Can you share a [codesandbox](https://codesandbox.io/) where the issue is visible? I've tried pasting your code, but I didn't get any error. Happy to reopen this if there is a remaining one.

[2020-11-12 15:19] piotr-cz commented on #2824
Let's assume it's resolved, thank you taking time to help me out here.

[2020-11-13 13:47] tbgse commented on #2574
@marvinhagemeister i just updated my example repo mentioned here https://github.com/developit/nextjs-preact-demo/issues/34 to the latest version of preact (10.5.7) but the error still seems to appear. Could just have to do with the specific setup of the `next-plugin-preact`?

[2020-11-13 18:35] marvinhagemeister commented on #2574
@tbgse I couldn't reproduce that issue anymore. Happy to look into it but not sure how to reproduce it.

[2020-11-13 19:04] tbgse commented on #2574
@marvinhagemeister thanks for looking into this. Did you try this out with the example repo that I posted in the issue I opened? (https://github.com/tbgse/preact-next-styled-component) That'd be probably the easiest way to reproduce. It's a very minimal setup, and I immediately get these errors in the console when running the dev server as soon as i open any of the routes in the browser.

[2020-11-13 19:31] heymartinadams commented on #2574
I get no errors, @tbgse, FYI. (Got an error during install when I installed using `npm` — `Error: Cannot find module 'nan'` — so I installed using `yarn` instead, but that’s probably unrelated.)

[2020-11-14 08:41] marvinhagemeister commented on #2574
@tbgse Yup, that's the one I tried. I can't reproduce the error there anymore.

[2020-11-14 10:52] tbgse commented on #2574
@marvinhagemeister okay that's very interesting. I just tried also to completely delete the node_modules folder, reinstall with both npm and yarn, but i keep getting the error, especially when navigating between the /about route and the home route. This never happens the first time a page is loaded, but usually the second time,after i refresh the page.

I'll try to investigate some more and ask so

[2020-11-14 13:10] marvinhagemeister commented on #2574
@tbgse Awesome, thanks for sharing more information. I checked on another machine and there I'm able to reproduce it too, like in the screenshot you provided. I think I've found a fix for this, but need to add a few more tests to verify it later today 👍

[2020-11-14 15:23] tbgse commented on #2574
Great! I'll keep an eye on those PRs

[2020-11-15 18:03] Menci commented on #2821
Yes. This breaks [semantic-ui-react](https://react.semantic-ui.com/)'s `Form.Field`.

[2020-11-15 23:25] dazhoudotnet opened #2832 "x render eat the last el"
in v10 upgrade-guide

`// Existing markup:
<body>
  <div>hello</div>
</body>

render(<p>foo</p>, document.body);
render(<p>bar</p>, document.body);

// Preact X output:
<body>
  <p>bar</p>
  <div>hello</div>
</body>`

Actually Preact X output is:
`<body>
  <p>foo</p>
</body>`

[2020-11-16 08:18] tbgse commented on #2574
@marvinhagemeister After having installed the last version of `preact-render-to-string` with your fix, the errors have disappeared for both my small reproduction example and our larger codebase where we use preact with next in the real world. 🎉 🎉 🎉

Thanks again for looking into this.

[2020-11-16 23:31] pavulon commented on #2783
In your case @darsain, the magic number is more than a half. Probably [this](https://github.com/preactjs/preact/blob/master/src/diff/children.js#L284) has something to do with it.

[2020-11-17 12:08] JoviDeCroock commented on #2619
Hey, would you mind testing this with: https://pkg.csb.dev/preactjs/preact/commit/9ff1e5f6/preact I think this fixes the issue.

[2020-11-18 10:51] sqal opened #2835 "componentDidCatch and errorInfo"
Hi. I have a question regarding componentDidCatch lifecycle hook. React's componentDidCatch receives two parameters, the first one is an error and the second is errorInfo which contains additional details about the error (like stack trace). I wanted to replace React with preact/compact in my app, however, I didn't manage to do it because I use @sentry/react package and its ErrorBoundry component r

[2020-11-18 12:40] marvinhagemeister commented on #2835
Afaik there never was a conscious decision to leave that out. Looks more like something that got forgotten or overlooked, simple as that.

[2020-11-19 17:14] lindsaybloomsonos opened #2837 "Yarn offline-mirror: Integrity check failed for "@preact/compat""
Hi! My team is migrating one of the packages in a monorepo to Preact. The monorepo uses yarn offline-mirror. The package that we are migrating uses Next.js.

### Reproduction
When we run the following command in terminal:

[code]

This is the output:
[code]

If I try running the command a second time, there is no error.

### Expected Behavior

There should be no error when running the command the

[2020-11-19 18:54] joeythomaschaske commented on #2715
@marvinhagemeister Can you provide code to explain what you mean?

[2020-11-19 19:19] mischnic commented on #2715
(This was the fix that solved it for me: https://github.com/adobe/react-spectrum/commit/78ac497400786ba2572d3ee076a158038e4a409e)

[code]

[2020-11-19 20:06] #2797 closed

[2020-11-19 20:15] xkam commented on #2619
No, the issue is still there, tested both with full datagrid and the isolated code above. With 9ff1e5f6 I still get
[code]

[2020-11-20 01:07] rschristian commented on #2837
If I'm understanding your setup correctly then this is correct behavior.

The integrity check here is making sure that the package you're installing (`@preact/compat`) matches the checksum they have on record for React. This way you can be sure your installation source hasn't been compromised, and no one's giving you a bad version of React to install.

But here the goal is to purposefully install

[2020-11-20 11:33] ljosberinn opened #2838 "Preact loses state in toplevel components of Nextjs when switching routes"
### Reproduction

React sandbox: https://codesandbox.io/s/brave-bhabha-j40tx?file=/pages/_app.js
Preact via next-plugin-preact: https://codesandbox.io/s/quizzical-mccarthy-0cikd?file=/package.json

### Steps to reproduce

React sandbox:
- wait until the fake promise resolved on index (1.5 seconds)
- click the link to About
- see no change in `ComponentWithState` occuring

Preact sandbox:
- wait un

[2020-11-20 16:10] marvinhagemeister commented on #2837
To me it sounds like a feature that would be awesome to have in `yarn`. It knows about the aliasing so it is in the right position to apply the correct integrity hash.

[2020-11-20 17:33] arcanis commented on #2837
This bug isn't present in 2.x; integrity hashes are now kept for the full package locator.

[2020-11-20 22:45] srdjan commented on #2838
I have the same issue.
After tracking it down, this behaviour starts with [10.0.2-canary.10 ](https://github.com/vercel/next.js/releases/tag/v10.0.2-canary.10)

This release has only one change:

'Replace page loader with new route loader: #19006'

[2020-11-20 23:39] jcestibariz opened #2839 "New JSX runtime includes ref attributes in the DOM"
Versions:
preact@10.5.7
@babel/core@7.12.7
@babel/preset-react@7.12.7

### Reproduction

[code]

See complete example at: https://github.com/jcestibariz/preact-ref-bug

### Steps to reproduce

1. Run the example making sure it uses the new JSX transform:

[code]

2. Open the browser development tools and look for the `div` generated by the component.
3. Notice it contains a `ref` attribute.

### E

[2020-11-21 22:33] #2839 closed

[2020-11-22 08:08] montanodoto commented on #2838
I have the same issue, any news ?

[2020-11-22 19:32] ljosberinn commented on #2838
Closing in favor of https://github.com/vercel/next.js/issues/19399 - thanks for the heads up!

[2020-11-22 19:32] #2838 closed

[2020-11-23 09:30] marvinhagemeister commented on #2837
@arcanis Any plans to backport that to the 1.x release line? Homebrew on Mac still ships with 1.x by default.

[2020-11-23 09:40] arcanis commented on #2837
Unfortunately no, 1.x is pretty much frozen - its next update will probably just be to suggest to upgrade to v2.

I've however improved the [migration guide](https://yarnpkg.com/getting-started/migration#step-by-step) last week, and I think you'll find the upgrade fairly easy! If not, we're happy to collect feedbacks on Discord 🙂

[2020-11-23 14:55] developit commented on #2783
Echoing from various discussions elsewhere: the `j/2` child search optimization was never supposed to apply to keyed matches, which to me makes this a bug rather than just a performance degradation.

[2020-11-23 15:22] dioslaska commented on #2449
@developit Just following up on this, to see if you can point me in the right direction, since I'd like to update to the latest Preact version in our library.

[2020-11-23 18:20] marvinhagemeister commented on #2449
@dioslaska Even there would be a band-aid that would paper over this for now, there is a very high chance that relying on this specific behavior will break in future versions. Your best path forward is to not rely on keeping unknown attributes around.

The third parameter to `render()` has caused a lot of headaches and is the main source for a lot of complex edge cases. With v11 we want to make Pr

[2020-11-24 13:35] LionsAd opened #2845 "Feature request: Add <!-- markup around components."
Thanks a lot for preact + htm, coming from a Drupal world it is a joy to integrate it as little widgets.

Would it be possible to add the component with it's properties (if they can be represented as a string) within the HTML as comments?

e.g.

[code]

with NavBar being:

[code]

rendered normally to e.g.:

[code]

instead rendered in debug mode to:

[code]

That makes it much simpler to see the

[2020-11-24 17:56] marvinhagemeister commented on #2845
That's in interesting topic. As far as I'm aware, neither htm or Preact support comments. If you just want to know which elements were rendered by which components I'd highly recommend checking out the [Preact Devtools](https://preactjs.github.io/preact-devtools/) browser extension. With that you can inspect the full component tree and see which DOM nodes a component rendered by simply hovering co

[2020-11-24 20:59] LionsAd opened #2846 "[BUG] built is duplicating "current" in the array for every child element"
To reproduce in JS console with built.mjs pasted in:

[code]

Expected output:

APPEND_CHILD, TAG_SET, PROP_SET, PROP_SET, CHILD_RECURSIVE

Real output:

[code]

This is from my PHP port of preact (just an experiment), but it also happens with preact master in Javascript.

I think when recursing into the children, the data should be stored in a stack variable and not in current[0].

While for trav

[2020-11-24 21:08] LionsAd commented on #2846
The fix is trivial also:

https://github.com/developit/htm/blob/ed1c62066e4ef33c01b9269efd4e8b1a73f89887/src/build.mjs#L262

[code]

should be all that is needed. Also could fix the double usage of the name `mode` at the same time. Likely `tmp` or `current_child` or such might be better.

[2020-11-24 22:36] Javi opened #2847 "CSS files with errors breaks build script with impossible to parse messages."
### Reproduction

Using the Typescript template with the following:
+-- preact@10.5.7
+-- preact-cli@3.0.3
+-- preact-render-to-string@5.1.12
+-- preact-router@3.2.1

### Steps to reproduce

I accidentally added SCSS lines to a CSS files, which kept the `dev` scripts working but broke the production `build` script.
Adding a CSS module to a basic project with the following code:
[code]

### Expecte

[2020-11-24 22:59] LionsAd commented on #2845
htm does support comments, parsed as MODE_COMMENT in build() and they are added as normal children.

[2020-11-24 23:49] LionsAd commented on #2846
Closing in favor of https://github.com/developit/htm/issues/186, which is actually in the right repo 🤦

[2020-11-24 23:49] #2846 closed

[2020-11-25 00:35] rschristian commented on #2847
This looks to be an issue for the CLI if someone with permissions can move it.

[2020-11-25 00:37] Javi commented on #2847
You're totally right, let me know if I should close this and recreate it over at the CLI repo instead.

[2020-11-25 00:40] rschristian commented on #2847
Looks to be a duplicate of https://github.com/preactjs/preact-cli/issues/1218

[2020-11-25 00:44] Javi commented on #2847
That seems to be the case, sorry for not finding it before. I'll follow it up there, thank you.

[2020-11-25 00:44] #2847 closed

[2020-11-25 00:46] rschristian commented on #2847
No problem, the issue's title could possibly use an update since the source of the problem was found (malformed CSS).

[2020-11-25 03:49] Rafi993 commented on #2646
Hello there, If this issue is up for taking I would like to help.

[2020-11-25 08:57] marvinhagemeister commented on #2845
Yeah, but that's just an internal thing that's skipped during parsing. It's not forwarded to the jsx constructor function.

Regardless of that I'm curios what your specific need is for rendering html comments. From the original post it seems like making use of our devtools extension is a much better developer experience. Happy to learn more about why you need comments.

[2020-11-25 10:46] VitaliiPyvovar commented on #2488
It is broken on version 10.5.7

[2020-11-25 10:58] marvinhagemeister commented on #2488
@VitaliiPyvovar what is broken? Can you file a new issue for that? We'd love to take a look at it, but we need more information than "something is broken".

[2020-11-25 15:18] #2646 closed

[2020-11-25 16:05] Rafi993 commented on #2668
Hello there, If this issue is not taken I would like to help

[2020-11-26 12:54] jedlikowski opened #2849 "Random wrong DOM elements order"
Hi there,

I'm seeing incorrect ordering of DOM elements in Firefox on Mac when rendering the below component. It's being rendered inside a Suspense and a fragment if this helps.

[code]

This is the screenshot from rendered DOM elements:
![image](https://user-images.githubusercontent.com/9341608/100353404-bc220480-2fee-11eb-9032-b9a19c8a63f2.png)

They should be rendered the other way around, the

[2020-11-26 12:56] JoviDeCroock commented on #2849
Hey,

I think a codesandbox example would help us solve this quicker

[2020-11-26 16:25] rati-dzidziguri commented on #2801
any ideas on how to fix this I am getting the same error
`Module not found: Can't resolve 'react/jsx-dev-runtime'` and using preact 10.5.7 with craco.

[2020-11-26 16:37] dioslaska commented on #2449
@marvinhagemeister Thanks for the reply. For now that "band-aid" would help a lot :) For the future we should than re-think our approach and handle it differently.
So any help on how to restore keeping the original DOM attributes functionality with the latest Preact version would be much appreciated.

[2020-11-26 17:15] Nandan1996 commented on #2364
@JoviDeCroock is there any way to avoid hydration for static content in older version of preact 8.1.0?

[2020-11-27 11:59] nicolo-ribaudo commented on #2801
@rati-dzidziguri

You need to pass `"importSource": "preact"` to the JSX plugin/preset.

[2020-11-27 13:15] xtroncode commented on #2849
We are also facing a similar issue while migrating to preact (random reorders) hard to reproduce.

[2020-11-27 13:26] rati-dzidziguri commented on #2801
@nicolo-ribaudo, thank you very much. Would you please provide a little more details on which plugin to install and how to do this? Highly appreciate this answer.

[2020-11-27 14:01] nicolo-ribaudo commented on #2801
I'm not sure about your setup (or the default build setup for Preact), but there is _already_ compiling JSX in your build process (either TS, or Babel): you need to find this existing tool and update its config.

[2020-11-27 14:43] rati-dzidziguri commented on #2801
I understand; thank you very much. here are my package JSON and configs.
![image](https://user-images.githubusercontent.com/52178984/100460225-44340700-30e0-11eb-872c-2544f0961a8d.png)

craco.config.js
![image](https://user-images.githubusercontent.com/52178984/100460270-57df6d80-30e0-11eb-994d-d9ced496002c.png)

I have no other customizations, but this and initially used CRA to create the base sk

[2020-11-28 00:24] milky2028 opened #2852 "CSS Attribute Selector Not Working Correctly with Value, Different React/Preact Behavior"
preact 10.5.7

### Reproduction

[Minimal Reproduction Repo](https://github.com/milky2028/preact-minimal-css-bug)

To reproduce, clone the minimal repo, install dependencies, then run `npm run watch` to start a local development server.

You can switch the build from Preact to React by commenting out two lines in `rollup.config.js` to compare and constrast behaviors between the two.

[code]

[I ma

[2020-11-28 18:46] broofa opened #2853 "Don't escape HTML &-entities in literal text"
See also https://github.com/developit/htm/issues/76

According to the [JSX docs](https://shripadk.github.io/react/docs/jsx-gotchas.html), "You can insert HTML entities within literal text in JSX", but this does not appear to work because of how &'s are escaped in the [encodeEntities() method](https://github.com/preactjs/preact/blob/60b538cca55a49db3ea441903930a3fc0c5dfa11/test/_util/helpers.js#L48

[2020-11-28 19:51] JoviDeCroock commented on #2853
Moving this to https://github.com/preactjs/preact-render-to-string

[2020-11-29 06:52] chmelevskij commented on #1321
As @gautam1168 mentioned `Cannot read property '__H' of undefined"` can be happening because of different versions. Sometimes even `preact/debug` can't catch it.

In my case it was because it was monorepo and packages had different versions.

[2020-11-30 18:04] milky2028 commented on #2852
Ok I figured this out. Seems like React is serializing this as an attribute, while Preact is not. Here's my workaround:

[code]

Should I close this?

[2020-11-30 18:15] marvinhagemeister commented on #2852
I'd treat it as a bug. We probably need to add `value` to the list of properties [here](https://github.com/preactjs/preact/blob/f955cfcceb50d504faa7c05a95065512cf900e57/src/diff/props.js#L106-L118) so that we fall into the `.setAttribute` call at the end.

[2020-11-30 23:13] andrewiggins commented on #2852
Hmm I'd suggest this actually live in `preact/compat` and not in core. Reflecting the `value` *property* to the `value` *attribute* is a React-specific behavior and not how the DOM works or is intended to work (as I understand it). I recently learned that the `value` *attribute* is intended to be an *initial* value and not a reflection of the *current* value ([MDN](https://developer.mozilla.org/en

[2020-12-01 05:02] colin-ggd commented on #2748
From what I can tell, this is being caused by this file - https://github.com/preactjs/enzyme-adapter-preact-pure/blob/master/index.d.ts

A quick fix would be to make the "nodeName", "attributes", and "children" optional.

[2020-12-01 09:24] marvinhagemeister commented on #2748
FYI: We don't have `nodeName`, `attributes` and `children` on our vnode shape anymore since Preact 10.0.0

[2020-12-01 14:25] milky2028 commented on #2852
Yeah, that’s probably how I’d do it as well. Unfortunately, this is coming from a Reaxt component library I’m consuming, so I don’t have a ton of say in the matter.

[2020-12-01 14:36] colin-ggd commented on #2748
@marvinhagemeister I should have mentioned, this is happening with Preact `v10.3.1`, and is being caused by the enzyme-adapter-preact-pure dependency.

To reproduce (with preact-cli 3.0.3)

preact create typescript example-project
cd example-project
npm install react-bootstrap
# Add the following to app.tsx
# import { Button } from "react-bootstrap";
# Then in the render function add this -
# <But

[2020-12-01 15:12] marvinhagemeister commented on #2748
cc @robertknight who maintains our enzyme adapter

[2020-12-02 02:04] developit commented on #2852
I don't think we should implement attribute reflection in Preact, or even in compat. It's a huge security nightmare that we really shouldn't be perpetuating. It was a mistake to implement in React, and is actively being considered for removal.

[2020-12-02 02:14] andrewiggins commented on #2852
@milky2028 is the library you are using open source? I wonder if they'd consider changing to be more compatible with Preact and other VDom libraries.

[2020-12-02 02:39] developit commented on #2801
I'm guessing this is something strange "craco" is doing.

[2020-12-02 02:46] developit commented on #2364
@Nandan1996 the `dangerouslySetInnerHTML` hack works in Preact 8. Best to upgrade though.

[2020-12-02 03:00] Nandan1996 commented on #2364
@developit Thank you for replying. I've tried this yesterday but the line at https://github.com/preactjs/preact/blob/17cc8deddd3d4e592685dfa42e832f6e8d2cb795/src/vdom/diff.js#L143 seems to remove static html injected using `dangerouslySetInnerHTML` during hydration. later it gets injected again that causes high `LCP` score in our case.

we're planning to revamp our product but till then we need a

[2020-12-02 03:31] milky2028 commented on #2852
I really appreciate the action on this issue! Preact is truly one of the most important projects in front end right now.

@andrewiggins It’s not open source, but it is an internal library from another AWS team, so I might be able to convince them to make some changes, which might be much easier if the attribute security issues are brought to light.

@developit Could you potentially elaborate on wh

[2020-12-02 17:51] aguilera51284 commented on #2712
any update for this ... i get the same error but with wouter-preact and suspense router 👍

[2020-12-03 00:08] andrewiggins commented on #2852
One potential issue I know of is a CSS keylogger (https://css-tricks.com/css-keylogger/). Since React reflects the value into the attribute it makes inputs susceptible to this. It is admittedly a difficult attack to execute with some drawbacks (https://www.bram.us/2018/02/21/css-keylogger-and-why-you-shouldnt-worry-about-it/) but nevertheless does increase the attack vector for malicious code.

So

[2020-12-03 08:30] marvinhagemeister commented on #2852
FYI: If the input has a placeholder one can detect it being empty in CSS via the `:placeholder-shown` selector.

[code]

[2020-12-03 14:25] drackp2m commented on #2301
I currently do something like the following:

[code]

As explained in this section of the documentation: https://preactjs.com/guide/v10/typescript#typing-events

[2020-12-03 14:57] kevineinarsson commented on #2735
I finally had some time to investigate the issue, and it seems it stems from the the fact that Material-UI relies on "blur" and "focus" events bubbling.

If anyone else faces this issue, you can work around it by overriding the `onFocus` and `onBlur` methods for `MuiCheckbox`, `MuiRadio` and `MuiSwitch` in the `createMuiTheme` callback.

Something like this:

[code]

[2020-12-03 14:57] #2735 closed

[2020-12-03 15:36] milky2028 commented on #2852
@marvinhagemeister Yeah, I was thinking of suggesting we go the placeholder-shown route as well. Thank you!

[2020-12-04 00:43] milky2028 commented on #2852
I think I’ll probably close this if the plan is to not implement this in core or preact/compat. @developit’s fix works for me for now. Thank you all!

[2020-12-04 00:43] #2852 closed

[2020-12-07 18:28] colin-ggd commented on #2748
@marvinhagemeister @robertknight Bump. This is still causing issues.

[2020-12-07 19:02] robertknight commented on #2748
@colin-ggd - Would you be able to help me test https://github.com/preactjs/enzyme-adapter-preact-pure/pull/124? It looks to me like all of the type definitions in `enzyme-adapter-preact-pure/index.d.ts` are in fact only internal types needed when building the package. If so they can simply be excluded.

[2020-12-08 07:59] dioslaska commented on #2449
@marvinhagemeister @developit
I'm just following up on this. We're approaching to a final release with Mobiscroll, our library, and it would be cool if I could upgrade to the latest Preact version for this.
Thanks!

[2020-12-08 14:06] developit commented on #2449
Hiya @dioslaska - do you have a way where we can try some changes/fixes? We might be able to hack on something more quickly via Slack: https://chat.preactjs.com

[2020-12-09 05:14] rejc2 commented on #103
Actually this is easy to fix by assigning the property to a different variable name when destructuring:

[code]

(See [the article on Destructuring assignment on MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment#Assigning_to_new_variable_names).)

[2020-12-09 10:00] Download commented on #103
@rejc2 Oooh nice one! I never thought about that but it's sure a lot cleaner to do it like that 👍

[2020-12-09 14:05] alubchuk commented on #2748
@robertknight I've also experienced this issue today, but since I don't use enzyme I just completely removed it from the preact typescript project. I wonder why the typescript template defaults to enzyme for unit testing components?

[2020-12-09 14:26] rschristian commented on #2748
All of the templates should be using enzyme for unit testing, not just TS. Is there something else you think it should be defaulting to? Enzyme is quite a nice test framework and I certainly prefer it to the rest.

[2020-12-09 18:02] toniopelo commented on #777
If someone end up here having the same issue, on my side adding `{ capture: true }` as an options to `addEventListener` did the trick for me.

[2020-12-10 15:15] LXSMNSYC commented on #2795
@JoviDeCroock it seems that this issue repeated again. I think the behavior I thought before was wrong, and it seems that Preact's Suspense does not run side-effects through suspended state. I need some further tests regarding this issue.

[2020-12-10 18:27] evenfrost commented on #2233
@developit ping. Today I've faced this issue when trying to debug an obscure error coming somewhere from the hooks code. Providing unminified code or/and source maps, which can be utilized by tools like `source-map-loader` would help debugging a lot.

![Screenshot from 2020-12-10 21-24-30](https://user-images.githubusercontent.com/3055750/101813987-83c21080-3b2e-11eb-90e9-85ba5a928210.png)

[2020-12-11 04:42] marvinhagemeister commented on #2233
FYI: We ship source maps in our npm package.

[2020-12-11 09:54] evenfrost commented on #2233
Weird, other packages' sources are shown okay. Must be issues with my config then. Still, allowing users to use their own tools for a build process feels more natural imo.

[2020-12-11 20:25] nmondon opened #2858 "[Preact compat] SVG prop dominant-baseline is not properly managed by preact/compat when written in camel case"
Hi,

First of all, thanks for the amazing work!

I'm using preact/compat a lot and I've noticed that [the tag attribute dominant-baseline](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/dominant-baseline) is not properly managed by preat/compat when written in camel case.

### Reproduction

Here is [a codesandbox](https://codesandbox.io/s/cocky-villani-41suh?file=/src/index.js)

### Ex

[2020-12-11 22:20] developit commented on #2858
Hi @nmondon - that sounds like the right approach!

I'm glad we're able to land changes like this in compat though. From a technical standpoint, we should really be writing that property in JSX as `dominant-baseline` - there's actually no property or attribute in SVG called `dominantBaseline`, it's a name that is specific to React :o

[2020-12-12 04:04] ConradSollitt commented on #2618
Great job on the Preact DevTools @marvinhagemeister The statistics tab is very cool and I can see it being very helpful for future development when I'm working with Preact on advanced apps.

I've used React DevTools and was aware of the Preact DevTools but didn't properly try it till today after seeing this. I saw in the docs to use `import` for DevTools so I was curious if I could get it working

[2020-12-12 10:11] nmondon commented on #2858
OK, I'lm gonna make a PR!

Indeed, it feels Kafkaesque to manage these attributes conventions from React... I usually write them `dominant-baseline` but my VS Code editor or whatever extensions in it continues to suggest me the camel cased version in a JSX context...

[2020-12-12 10:38] ConradSollitt commented on #2618
After my comment earlier today I felt motivated to convert several React Demos I had published to Preact and try them with Preact DevTools and here is what I found. I've provided the links and currently the are setup to include needed scripts for Preact DevTools.

Additionally I found this setup also works when using Preact DevTools:

[code]

## Two Page SPA using Preact Router

_This result occur

[2020-12-12 11:21] ConradSollitt opened #2860 "Web Component custom attributes missing when using Preact"
Greetings, I've found a possible issue when using Preact with Web Components (Custom Elements) where custom HTML attributes are not being assigned to the element when rendered by Preact. Originally I had created this as a React demo to make sure the Components work with React so the code is almost identical except the Preact version loads Preact instead of React of course.

Alternatively perhaps t

[2020-12-12 12:13] Simonwep opened #2862 "Breaking changes in v10.5.6 - custom css attributes are per type definition not longer allowed"
### Reproduction
Any custom style property will now raise an error, example:

[code]

will result in
[code]

This was introduced in #1797 as `style` is no longer `{ [key: string]: string | number }` and released in [v10.5.6](https://github.com/preactjs/preact/releases/tag/10.5.6).

My environment:
[code]

### Steps to reproduce

See reproduction.

### Expected Behavior

It should be possible to us

[2020-12-12 16:07] bhr opened #2864 "Typescript Build Error when using react-transition-group: No overload matches this call"
### Reproduction

I'm trying to build a nextjs project that is using react + preact along with react-transition-group.

Running in dev mode works. Building the project fails though given the following error:

#### Build Error
[code]

#### Code Sample
[code]

#### Codesandbox Preact
[Codesandbox](https://codesandbox.io/s/preact-css-transition-ts-1xhtk)

#### Codesandbox React
For comparison, I crea

[2020-12-12 22:32] ConradSollitt commented on #2860
I know what the issue is now and how to fix it (both my code and Preact) so I'm updating my Web Component and the main link (not the CodePen one) will likely be fixed later today.

It seems an edge case issue and since Web Components are not really very popular compared to using Preact/React Components so I think it's something that could be just be documented in case it's not going to be supporte

[2020-12-13 06:47] ConradSollitt commented on #2860
Final follow up unless anyone respond with questions.

[code]

I see that the release builds of Preact do not include `"use strict";` so perhaps the error I originally described would have been caught if I used webpack or node tools. If Preact did include `"use strict";` then this line `dom[name] = value == null ? '' : value;` would have thrown an error from Preact.

[2020-12-14 12:38] brion-fuller opened #2867 "preact/debug breaks on preact/devtools import"
### Reproduction

https://codesandbox.io/s/preactdebug-esm-7165v?file=/index.html

### Steps to reproduce

Using the link above, you can see that nothing is rendered on the page.
The error message that I get is a 404 on `https://unpkg.com/preact@10.5.7/devtools?module`.
I believe this is because of trying to use scope like naming without scoping.  So preact/devtools instead of @preact/devtools.  u

[2020-12-14 13:36] marvinhagemeister commented on #2867
This is a known error in the module resolution code of `unpkg`. This can't be fixed on our end.

See:
- https://github.com/mjackson/unpkg/issues/281
- https://github.com/mjackson/unpkg/issues/129
- https://github.com/preactjs/preact/issues/2564

The recommended solution is to use a CDN which supports ES Module resolution, like https://npm.reversehttp.com/

[code]

Closing, because this is a duplic

[2020-12-14 13:36] #2867 closed

[2020-12-14 13:43] marvinhagemeister commented on #2618
@ConradSollitt This is awesome! Thanks for sharing those numbers 👍

Devtools should work out of the box with unbundled sites. If there are any issues please let me know. So far none have been reported for that at https://github.com/preactjs/preact-devtools/issues

[2020-12-14 20:07] ConradSollitt commented on #2860
Going to close out this issue I opened. I think it's a rare case and not worth adding extra code to Preact for. Vue 3 has the same behavior as well when using Web Components.

If anyone is reading this with the same issue just make sure you define both a getter and setter when the HTML attribute and DOM Property have the same name for an Custom Element.

[2020-12-14 20:07] #2860 closed

[2020-12-14 20:30] ConradSollitt commented on #2618
Your welcome @marvinhagemeister

Yep, you are correct DevTools works out of the box. I think my original version was too simple as it would have only rendered once and had no props or state so there was no need for DevTools to show anything other than connected.

[code]

The below Hello World version works perfectly with DevTools and allows name and color to be changed from the DevTools and statis

[2020-12-14 21:48] marvinhagemeister commented on #2860
Good find! I'm curious if we should switch and add `"use strict";` at the top of our code that's packaged for npm. That's a difficult issue to track down, much respect to ya! If I'm understanding it correctly, the problem is that the DOM properties are not reflected back to the attributes, right?

Regarding the `getOwnPropertyDescriptor`: I'm worried that this is expensive. Don't have any current

[2020-12-15 00:41] ConradSollitt commented on #2860
Thanks @marvinhagemeister

Yeah I agree with `getOwnPropertyDescriptor` which is why I closed out this issue but after reading our comment on `"use strict";` I think it's definitely worth looking into and considering.

I did a quick check of several of the most widely used Libraries and found the following list are all using `use strict`:
* jQuery
* Bootstrap
* React
* Vue (both 2 and 3)

Here is

[2020-12-15 01:55] ConradSollitt commented on #2621
I read a number of comments on supporting IE 11 and I think it might be a good to consider having two production builds for browser usage using `type=module | nomodule`. For example:
[code]

Recently I have done this a lot more myself in some projects and and just minimizing the source files using [terser](https://github.com/terser/terser) and then creating the legacy browser build using Babel/web

[2020-12-16 04:02] developit commented on #2862
I opened a PR to re-loosen these types for now. We can inherit the correct types from TypeScript's `dom.d.ts`, but there is unfortunately no way to exempt `--custom` properties from validation, so we have to use a generic `Record<string,string|number|null|undefined>` for now.

[2020-12-16 04:14] developit commented on #2845
IIRC only `build()` in HTM supports comments, MODE_COMMENT nodes are skipped in evaluate() and never make it to `h()`.

@LionsAd You might find this interesting: it's a demo showing how to use HTM + Preact to render almost exactly what you outlined in your original question, just using an inert `<script>` tag to house the JSON props:

https://codesandbox.io/s/preact-htm-selective-hydration-v784b

[2020-12-17 07:31] afzalsayed96 commented on #2758
Is there a way to turn this off in dev? Can I contribute a PR for resolving this?

[2020-12-17 13:19] marvinhagemeister commented on #2758
No.

Yes 👍

[2020-12-17 16:13] afzalsayed96 commented on #2758
@marvinhagemeister Okay what would be the right approach here according to you?

[2020-12-17 16:54] marvinhagemeister commented on #2758
@afzalsayed96 remove that check in `preact/debug`. My understanding is that linters can/should take care of that already and linter rules can be easily ignored on a case-by-case basis.

[2020-12-17 19:11] bz2 commented on #2862
The argument in https://github.com/frenic/csstype/issues/63#issuecomment-623963869 is that custom properties should not be untyped, but included in the type in such a way that end users can specify them explicitly. How practical that is I'm not completely sure.

[2020-12-18 08:16] afzalsayed96 opened #2871 "Framer motion layout animation does not work on Preact"
### Reproduction

demo: https://codesandbox.io/s/framer-motion-preact-forked-ip6tb?file=/app.js

### Steps to reproduce

Click on the square blue box

### Expected Behavior

The box should animate when it's height changes

demo: https://codesandbox.io/s/framer-motion-2-layout-viec0?file=/src/App.js

### Actual Behavior

No animations happen on height change

[2020-12-18 09:27] #2758 closed

[2020-12-18 17:39] SomethingSexy opened #2872 "Package Exports in package.json not including "import" for "./compat/server""
I am upgrading from Webpack 4 to 5 and coming across an issue.

### Reproduction

Using preact 10.4.8, webpack 5.11.0, TypeScript 4.1.3

TSConfig

[code]
Relevant Webpack config

[code]

### Expected Behavior

Webpack should build and successfully alias preact.

### Actual Behavior

Receiving this error when bundling with webpack using the configuration above.

Looking at the exports configuration

[2020-12-18 18:30] developit commented on #2872
Yeah this should be doable. Another option would be to change the key to `"default"` instead of `"require"`. If you want to submit a PR I can give it a review!

[2020-12-18 18:41] SomethingSexy commented on #2872
@developit thanks! I will give it a shot.

[2020-12-18 19:00] daniele-orlando commented on #2468
I still can reproduce this bug with Preact **10.5.7**.
Of course no problem if I use React.

![ref](https://user-images.githubusercontent.com/504386/102650696-9ad6b300-416b-11eb-964a-23ba7051591b.png)

[2020-12-19 19:32] SomethingSexy commented on #2872
@developit "default" worked perfectly!

[2020-12-19 23:18] developit commented on #2872
Awesome!

[2020-12-21 16:59] #2862 closed

[2020-12-25 12:42] #2872 closed

[2020-12-27 09:08] Mzaien commented on #2618
<img width="802" alt="CleanShot 2020-12-27 at 12 06 07@2x" src="https://user-images.githubusercontent.com/43112535/103167395-f4aa3d80-483b-11eb-819f-3ae4529d8c11.png">

[2020-12-28 20:59] just-boris opened #2887 "Event handling is different between Preact and React"
### Reproduction

There are two code sandboxes implementing the same thing in Preact and React

* Preact: https://hlg2t.csb.app/
* React: https://zy55p.csb.app/

### Steps to reproduce

1. Click on "Expand me"
2. Click on "close"

### Expected Behavior

The panel should close (and it does in React)

### Actual Behavior

The panel does not close in Preact

---

This seem to be related to the way th

[2020-12-28 21:40] just-boris opened #2888 "Preact toChildArray does not assign keys"
### Reproduction

https://fanatical-dot-bumper.glitch.me/

In [React documentation](https://reactjs.org/docs/react-api.html#reactchildrentoarray), they say

In other words, it will assign keys, even if they were undefined before. This is not the case for Preact's implementation and causes issues when using `preact/compat`

[2020-12-30 14:07] marvinhagemeister commented on #2871
Spent some time debugging this today and the issue is caused by the new style values already being applied when `framer-motion` is grabbing the old `DOMReact` to tween from. This happens in the `getSnapshotBeforeUpdate` lifecycle of the `Measure` component. The tree structure looks something like this:

[code]

The current reconciler in Preact does a single pass when traversing the tree. It will f

[2020-12-31 18:37] charlier opened #2895 "Child order is not maintained between re-renders, when using compat memo"
### Reproduction
Preact 10.5.8

If your children are wrapped in preact/compat memo HOCs, then their order seems to change on each re-render.

This looks like it might be related to the changes added in https://github.com/preactjs/preact/pull/2813

My slightly contrived (and not very efficient, you don't need any of the setState gubbins, it's just there to cause a re-render) minimal repo steps woul

[2021-01-01 02:32] andrewiggins commented on #2895
Thanks for repro! I copied it over to a test and just submitted a PR with the fix. Much appreciated!

[2021-01-01 11:18] commenthol opened #2897 "createPortal throws for 10.5.8 in dev mode"
### Reproduction

demo: [preact-createportal-demo](https://github.com/pmwcs/preact-createportal-issue)

### Steps to reproduce

Run demo in dev mode `npm run dev`.

### Actual Behavior

If using `createPortal()` in preact@10.5.8 using dev mode `npm run dev` then following exception is thrown on rendering.

[code]

preact@10.5.7 does not show this behavior.

After bundling with `npm run build` the

[2021-01-01 18:55] #2895 closed

[2021-01-03 09:07] o-alexandrov commented on #2888
Idk exactly, but I believe this issue was introduced in `10.5.8`.
Upgrade of `preact` from `10.5.7` to `10.5.8` caused a **breaking change** in lists rendering.

[2021-01-03 10:41] #2897 closed

[2021-01-04 07:18] afzalsayed96 commented on #2871
Thanks for the explanation @marvinhagemeister. Wish you good luck with the revamp!

[2021-01-04 16:50] lemonmade commented on #1529
It would be great if this issue could be reconsidered. Up until React 17, where the `react/jsx-runtime` module was added, most modules had to `import React from 'react';`, since JSX transformations expected `React` to be in scope. This made it so tree-shaking of `preact/compat` could not be effective, since the default export for `React` has to include all the React APIs. With `jsx-runtime`, thoug

[2021-01-04 19:52] olliekav commented on #2849
I'm seeing this suddenly after a Netlify deploy. I can't replicate locally and now I can't get it to work properly when building.

You can see it on https://dj.olliekav.com, the player is stuck to the top when it should be at the bottom.

The Github repo is https://github.com/olliekav/dj.olliekav.com. I'm using a context to wrap the player, and the children are being rendered in the wrong order...

[2021-01-04 21:11] jedlikowski commented on #2849
In my case it turned out to be the app code loaded twice. The app I'm building is a widget people add to their sites and someone added it twice. Maybe this will help someone?

[2021-01-04 22:30] marvinhagemeister commented on #2849
@olliekav That's awesome, thank you so much for the detailed repro. Took a bit, but I was able to narrow it down to a `ref` function being side-effectful. It triggers a render and that job should only be done by any of the state setters. The faulty ref is here:

https://github.com/olliekav/dj.olliekav.com/blob/8566c9be25dc722ef67ab414f580df6400bef48f/src/contexts/player-context.js#L28-L32

[code]

[2021-01-04 22:55] olliekav commented on #2849
@marvinhagemeister wow, I really appreciate you looking at this so quickly, and giving me a code review 🙏.

I'd just moved all my class components to hooks + functional components so getting my head around the re-structuring. I just wondered why it suddenly started happening after one deploy as was fine earlier this week and I couldn't replicate it locally.

And yes, I was battling with forwarding

[2021-01-05 00:40] olliekav commented on #2849
@marvinhagemeister So I just made these updates, but I'm seeing the same outcome on https://dj.olliekav.com.

It's very random between hard & soft refreshes as @jedlikowski mentioned above.

[2021-01-05 07:18] andrewiggins commented on #2449
@dioslaska Another workaround to consider is to first call `hydrate` then `render`. `hydrate` will claim the existing DOM elements and then `render` will ensure that any differences between your VNodes and the DOM nodes are patched. https://codepen.io/andrewiggins/pen/yLajMrw

[2021-01-05 09:38] olliekav commented on #2849
So the only way I could get the order to reliably work in my case, was to wrap the provider `{props.children}` in an extra container.
[code]

I'll put together a codepen this week and see if I can replicate with a minimal use case 👍

[2021-01-05 10:04] JoviDeCroock commented on #2849
Are you using `createPortal` for these components by any chance?

[2021-01-05 10:13] olliekav commented on #2849
Nope.

[2021-01-05 10:19] JoviDeCroock commented on #2849
`React-modal` seems to be, that's where the issue presents itself

[2021-01-05 10:20] olliekav commented on #2849
Ah, interesting. I'll do some tests shortly with that 👍

[2021-01-05 13:52] marvinhagemeister commented on #2887
I guess this is one of the core differences between using a custom event system and the one from the browser like we do. The browser's events bubble up like you described, whereas react changed that behavior.

To prevent events from bubbling up there is the `event.stopPropagation()` function:

[code]

[2021-01-05 14:09] just-boris commented on #2887
The workaround could work if I would have a control over that code.

Unfortunately, this is a 3rd party library and I can't change that. I might convince them to give preact 1st-class support, but this might take a while.

For now it is great to have this ticket as an indicator of things that you can't do with Preact

[2021-01-05 14:20] just-boris commented on #2887
The library is a closed-source enterprise. I could submit a PR myself, but this will not be enough.

To make this work out, I need to also contribute them a full compatibility test suite, so they run all existing tests with Preact as well, to ensure there are no regressions. And this part is what makes it hard to sell.

[2021-01-05 14:27] marvinhagemeister commented on #2887
Your in luck as the same API is present in React too, although. So adding the `event.stopPropagation()` call will keep their test suite green. No need to submit a full compatibility test suite.

[2021-01-05 14:32] JoviDeCroock commented on #2887
You could also try doing:

[code]

You can adjust that first check to just target the button you like

[2021-01-05 22:01] mischnic opened #2913 "useReducer: stale value in closure or lost update?"
### Reproduction

https://codesandbox.io/s/nostalgic-wilson-3vs0s

[code]

### Steps to reproduce

Click on the "+1" button multiple times.

### Expected Behavior

What React does: both counters increment simultaneously.

### Actual Behavior

With Preact, the first update is ignored and the "local counter" is one bigger than the "global counter".

cc @marvinhagemeister @dai-shi

[2021-01-06 00:39] austinjp commented on #2618
![image](https://user-images.githubusercontent.com/7613468/103714477-a6710900-4fb6-11eb-80cb-6beda777ce04.png)

If it's of use, here's a small screenshot of the UI that I'm building. It's a toy Bayesian network modeller. Everything is a Preact component. Data is adjusted using sliders which are drag-to-resize divs, which causes lots of re-rendering. I'll probably refactor that at some point. Proba

[2021-01-06 02:15] tanhauhau commented on #2747
i believe this will be fixed by https://github.com/preactjs/preact/pull/2910

[2021-01-06 09:57] JoviDeCroock commented on #2747
I can confirm this is fixed in our HEAD https://codesandbox.io/s/wizardly-thunder-p1qjv?file=/package.json

[2021-01-06 09:57] #2747 closed

[2021-01-08 21:08] coldshower opened #2915 "Is there any rough timeline for when Suspense is production-ready?"
Hey everyone,

Really loving preact and all you do. Thank you so much for making this excellent piece of engineering.

https://preactjs.com/guide/v10/switching-to-preact#suspense-experimental

I noticed that while `Suspense` is available, it isn't recommended for use in production. Was just wondering if there was any rough timeline on when it is expected to become production ready?

Thanks again!!

[2021-01-08 21:50] developit commented on #2915
There is a significant rewrite underway that we aim to land as Preact 11. One of the important part of this is to firm up Suspense support, at which point we'll likely un-mark it as experimental.

[2021-01-08 21:52] developit commented on #2913
Curious what the reason is for deferring the assignment of `valueRef.current` into the layout effect callback - why not just assign it unconditionally in `Provider()`?

[2021-01-08 22:04] mischnic commented on #2913
I didn't write this code, but apparently it's based on the principle explained here: https://overreacted.io/a-complete-guide-to-useeffect/#why-usereducer-is-the-cheat-mode-of-hooks where local variables are used as well instead of a ref. (https://github.com/dai-shi/use-context-selector/pull/36#issuecomment-754554120)

[2021-01-08 22:25] marvinhagemeister commented on #2888
So I've went a bit back and forth and although I made a PR, I'm struggling to find a use case for this. @just-boris can you elaborate on the scenario you're needing this change in?

[2021-01-08 23:34] just-boris commented on #2888
I have code which uses [react-keyed-flatten-children](https://github.com/grrowl/react-keyed-flatten-children) and it produces warnings after passing through preact/compact's implementation.

[2021-01-09 02:02] c-smile opened #2916 "Documentation, sample error:"
Page:

https://preactjs.com/guide/v8/getting-started/

Sample:

`class Clock extends Component {
    constructor() {
        super();
        // set initial time:
        this.state.time = Date.now(); // <<<< error setting time property of undefined
    }`

`this.state`  is `undefined` in constructor.

[2021-01-10 08:45] rschristian commented on #2916
This is an issue with the docs (though those are the old v8 docs, if you weren't aware. v10 has been out a while). I'll transfer this issue to that repo for you.

[2021-01-10 13:56] tony commented on #1256
(First time using preact)

it took me almost an hour to work my way to this: https://github.com/preactjs/preact/issues/1256#issuecomment-439695352

Thank you very much @marvinhagemeister. I'll make a suggestion to add this to the docs

[2021-01-11 12:31] dioslaska commented on #2449
@andrewiggins Thanks for the tip. While visually looks as it should, unfortunately this does not solve the original problem: to keep the original attributes on the existing DOM element. I checked the codepen you sent, but if you inspect the markup, you can see that the `id` and `data-foo` and `data-bar` attributes are no longer present on the elements.

[2021-01-11 12:34] dioslaska commented on #2449
I shared a test project on [Slack](https://preact.slack.com/archives/C3M9NTD16/p1608334512354700):

I created a [test environment](https://stackblitz.com/edit/typescript-ut4qfm?file=renderer.ts) related to this issue. I added the source code of the latest Preact version, and one simplified component which showcases what we're doing. You can see on the resulting button, that it looses the id and da

[2021-01-11 15:39] coldshower commented on #2915
Thank you Jason!

[2021-01-12 00:07] andrewiggins commented on #2449
Oh! My eyes glazed over the difference between `data-foo` and `data-foo-new` in that code and I totally missed that ID was unset. My bad.

I believe this would be a breaking change for Preact as I think we added this feature at the request of other users (the clearing of attributes). This might be something we consider enabling in Preact v11.

[2021-01-12 15:02] dioslaska commented on #2449
@andrewiggins The attributes were kept in Preact 10.0.0, the behavior changed in 10.0.1, so actually there was a breaking change between the bugfix versions.
Since we embed Preact in our lib, I'm also fine with branching and modifying the source code of Preact, I just could not figure out what exact change between 10.0.0 and 10.0.1 caused this change in behavior, so I can revert it in the latest P

[2021-01-14 09:40] davidruisinger opened #2926 "element with `contentEditable=undefined` crashes in Preact but not React"
### Reproduction

This works in React:
[code]
[codesandbox](https://codesandbox.io/s/contenteditablereact-n4wy7)

But throws an error in Preact:
[code]
[codesandbox](https://codesandbox.io/s/contenteditablepreact-cr2g3)

[2021-01-14 12:30] marvinhagemeister commented on #2926
FYI: Just released the fix as part of Preact `10.5.10` :+1:

[2021-01-14 23:16] resynth1943 commented on #1206
@developit would you accept a fix for this? It'd be nice to hear... _something_ from you, since this is affecting so many TypeScript users.

Here's what you get when you 'intermingle' Preact-typed and React-typed components.

![image](https://user-images.githubusercontent.com/49915996/104660418-613b8e00-56be-11eb-9608-66220c28ef5d.png)

[2021-01-15 12:55] nickrttn opened #2930 "jsx-dev-runtime file is missing in preact/compat after upgrading to 10.5.10"
### Reproduction

I've been using Preact with Emotion in a Next.js app. We've had to jump through some [hoops](https://github.com/preactjs/next-plugin-preact/issues/16) to get it to work without having to import Emotion's JSX pragma in each file that uses the `css` prop, but that's all right.

With the last release of Preact that hoop jumping should be fixed by the addition of the `jsx-dev-runtime

[2021-01-15 13:51] #2930 closed

[2021-01-15 21:24] coldshower commented on #2915
@developit  just thought I would ask, but is there any documentation or resource you know of on how lazy loading would be done without Suspense in preact?

[2021-01-16 01:20] developit commented on #2915
We currently recommend using Preact's suspense mechanic. You can see a very small but complete example of this in `preact-iso`:

https://github.com/preactjs/wmr/blob/master/packages/preact-iso/lazy.js

[2021-01-17 04:13] andrewiggins commented on #2621
Hello everyone 👋. Update from the core team:

As part of our v11 efforts, we have started a restructure of the Preact codebase. Inspired by some of our internal experiments and other frameworks, we believe it is time to restructure our renderer a bit. With this restructuring we are looking to improve its approachability and maintainability, as well introduce some new constructs that will enable ne

[2021-01-18 08:09] nickrttn commented on #2930
Thanks for the quick fix on this @marvinhagemeister. I'll keep an eye out for the next release.

[2021-01-18 14:14] srdjan opened #2937 "error building with latest preact, next.js: Cannot find module 'webpack'"
### Reproduction

https://github.com/srdjan/next-repros

### Steps to reproduce

[code]

### Expected Behavior

successful build

### Actual Behavior

{ Error: Cannot find module 'webpack'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._resolveFilename (/Users/srdjans/Code/next-repros/node_modules/module-alias/index.js:49:29)
    at Function.

[2021-01-18 14:51] marvinhagemeister commented on #2937
Looks like the canary builds of `nextjs` [inline webpack](https://github.com/vercel/next.js/commit/bddb02286fdcfb83fc97fa91df378cb6d92778e8) as a dependency. Therefore it won't show up in `node_modules` anymore.

Downgrading next to the latest stable build works fine.

[2021-01-18 17:11] davidruisinger commented on #2926
@marvinhagemeister THX for the very quick fix. Unfortunately your fix leads to another diff compared to React.
If a parent element is set to `contentEditable={true}` I can explicitly set it to `false` on any child element to disable editing on this child element:
See [codesandbox](https://codesandbox.io/s/contenteditableoverwritereact-yfbmt)

With your fix, the `contentEditable` prop will be remov

[2021-01-18 18:08] marvinhagemeister commented on #2926
@davidruisinger You're completely right! I should've been more thorough. Thanks for the reminder, I've filed #2938 to address this 👍

[2021-01-19 07:52] #2926 closed

[2021-01-20 19:56] masbaehr opened #2947 "[Documentation] Needs info on how to use preact with create-react-app"
[Documentation] Needs info on how to use preact with create-react-app

https://stackoverflow.com/questions/58102009/how-to-convert-create-react-app-to-preact

Tried those methods but didnt seem to work with latest versions of preact , cra and craco or similar build tools

[2021-01-20 21:02] marvinhagemeister commented on #2947
Some of my clients use [react-app-rewired](https://github.com/timarney/react-app-rewired#readme) to get access to CRA's underlying webpack config. There you can add the necessary aliases.

[2021-01-20 21:02] #2947 closed

[2021-01-20 21:05] masbaehr commented on #2947
[code]
This does not work for example:

Module not found: Can't resolve 'react' in........

[2021-01-20 21:23] marvinhagemeister commented on #2947
The package `react-app-rewired-alias` is not the same as `react-app-rewired`. I suggested the latter, not the former ;)

1. `npm install --save-dev react-app-rewired`
2. Create a `config-overrides.js` file in the same folder as your `package.json`:

[code]

3. Replace scripts in `package.json`

[code]

4. Run `npm start` - enjoy!

[2021-01-20 21:26] masbaehr commented on #2947
Ah it works, I was missing react/jsx-dev-runtime ! 👍 Thx

[2021-01-20 21:50] marvinhagemeister commented on #2947
@masbaehr Just released the mentioned new version of Preact `10.5.11`. With that the `react/jsx-dev-runtime` alias is not needed anymore.

[2021-01-21 08:27] masbaehr opened #2949 "Strange difference in behaviour between preact and react in combination with @material-ui and conditional operator"
This is the code to test the behavior difference.

Note: I know that it can be fixed by using the "boolswitch &&" / "!boolswitch &&" Syntax. But i noticed this after switching from react to preact. I'm not entirely sure if this might be a material-ui shortcoming but as it happened after switching to Preact i thought it might be better suited to post the issue here.

[code]

First step:

![image](h

[2021-01-21 11:25] ljosberinn opened #2950 "Comments out certain markup during hydration in latest version"
Hi, just noticed that in the latest version. Repo is Next.js; you can see its correct server-side as its shortly visible before hydration kicks in.

### Reproduction

[PR for 10.5.10](https://github.com/ljosberinn/gerritalex.de/pull/381) - [deployment](https://gerritalex-de-iw7iebtq3.vercel.app/)

![image](https://user-images.githubusercontent.com/29307652/105344344-18fefd00-5be3-11eb-8fb0-0abf286

[2021-01-21 12:00] kspeyanski commented on #2950
Hello,

I'm also experiencing this, but in `gatsby` project.

Please let me know if i can provide any additional information to help resolving this issue.

[2021-01-21 12:35] marvinhagemeister commented on #2950
A short codesandbox or repo would be a godsend. If we can reproduce errors on our machines it's much easier for us to get to the bottom of it 👍

[2021-01-21 13:09] HappyStriker opened #2951 "How to destroy a component"
Hey there,

today I have stumbled about Preact and I really like the concept of it so I started my first experiments with it.

My issue right now is that I want to destroy/unmount - or whatever the proper term is - a created Component, so `componentWillUnmount()` will be called and the rendering as well as the execution of it stops entirely.

Below I have modified the clock example of the document

[2021-01-21 13:12] JoviDeCroock commented on #2951
Not rendering it will unmount it, that basically means that you should do something like a wrapping component that holds state whether the clock is stopped or not. So basically imperatively stopping from within a component isn't really reactive or declarative, hence this.

[2021-01-21 13:29] HappyStriker commented on #2951
Well I have already tried something like that. The difference is that I use `this.state.show` inside the component to toggle inside `render()`, which successfully manages to prevent the component from being rendered in the first place, but `componentWillUnmount()` still does not get triggered.

[code]

How do you suggest that I adapt my code to properly imply to your suggestion?

[2021-01-21 13:39] JoviDeCroock commented on #2951
There you go: https://codesandbox.io/s/elastic-microservice-2xm6h?file=/src/index.js

[2021-01-21 14:59] HappyStriker commented on #2951
Great. That did the trick. Thank you!

[2021-01-21 14:59] #2951 closed

[2021-01-21 20:27] ljosberinn commented on #2950
Sorry, was at work! There you go.

https://github.com/ljosberinn/preact-hydration-bug
https://preact-hydration-bug.vercel.app/

[2021-01-22 05:54] marvinhagemeister commented on #2950
@ljosberinn Awesome, thank you so much for the repro case. With it I was able to narrow it down to the server side rendered HTML not being generated by `preact-render-to-string`. Instead the generated output comes from `react-dom/server`, whose output differs slightly enough by including comment nodes in the HTML that in turn trip up our reconciler.

A fix for this is to replace the custom `withPr

[2021-01-22 06:24] marvinhagemeister commented on #2950
@kspeyanski Can you file a separate issue? They are likely not related, even though the symptoms may look similar.

[2021-01-22 09:08] kspeyanski commented on #2950
Hello @marvinhagemeister ,

I've created the following project where the exact same issue (commenting out certain markup after hydratation) is reproducible: please find it here: https://github.com/kspeyanski/preact-hydratation-bug

I still suspect that the `gatsby` and `nextjs` issues are related as both:
- results in the exact same markup
- are only reproducible with version `10.5.11` of `preact`

[2021-01-22 09:33] marvinhagemeister commented on #2950
@kspeyanski Thanks for the repro! Just took a look and you're right in that it is caused by the same issue as in the next plugin. They are using React to render a virtual tree built by Preact on the server. I'm kinda surprised that this setup worked at all, but then again it's sort of a good testament to how strong our compatibility layer is.

To resolve the issue in your repo, instead this additi

[2021-01-22 10:33] kspeyanski commented on #2950
Thank you @marvinhagemeister for the fast response.

However, my specific use case does not allow for installing the packages through aliasing, thus i'm resolving the issue by downgrading to `v10.5.10` for now.

Feel free to reach me out in case you need more information.

[2021-01-22 10:42] marvinhagemeister commented on #2950
@wardpeet Do you know of a way to swap out the server renderer in Gatsby via a plugin?

[2021-01-22 10:45] wardpeet commented on #2950
That should be with gatsby-plugin-preact, I'll try the reproduction and fix it in the plugin. Thanks for the ping!

[2021-01-22 14:05] #2950 closed

[2021-01-22 15:50] developit commented on #2949
@masbaehr This can be corrected by adding `key="2fa"` to the last TextField.

[2021-01-22 15:54] masbaehr commented on #2949
Oh okay, is it a requirement in preact to use "key" for every component? Maybe I missed that? By the way i also noticed some other differences in rendering e.g. the defaultValue is not correctly populated if a variable changes on rerender

e.g. for a <Textfield> wrapped in   { loadingdone && <Textfield defaultValue={value}} it was remaining empty even if value is set and loadingdone true.

[2021-01-22 18:42] marvinhagemeister commented on #2949
@masbaehr No it's not a requirement. Keys can certainly give hints to the reconciler, but the behaviour described here is a bug. Keys do serve as a workaround here if you urgently need to ship it into production.

Let's file a separate issue for the defaultValue issue you're experiencing. Otherwise it becomes a nightmare for us to track stuff 👍

[2021-01-22 19:22] marvinhagemeister commented on #2949
Managed to narrow it down to a simple reproduction case:

[code]

Interestingly the error doesn't occur when we replace the strings as an empty value with `null`.

[2021-01-23 08:57] masbaehr opened #2954 "defaultValue not working for @material-ui TextField"
I noticed a difference in Render output (react vs preact) when using https://github.com/mui-org/material-ui Textfield.

In case this is due to an implementation error in https://github.com/mui-org/material-ui let me know and i will create an issue there.
But since it is working fine in react 16 i think it's rather a preact issue.

Preact tested:   "preact": "^10.5.11",
React tested:  "react": "^16

[2021-01-26 00:23] #2954 closed

[2021-01-26 08:51] cattermo commented on #1151
This example is really confusing. According to the typing `render` does not return anything. Is the typing wrong?

[2021-01-26 09:08] marvinhagemeister commented on #1151
@cattermo It's correct that render doesn't return anything, but it did in older Preact versions during the 8.x release line. In current Preact versions (>10.x) the third argument can and should be omitted. We're planning to drop it in the next major version.

To destroy a root node in current Preact versions calling

[code]

does the job.

[2021-01-26 13:19] evenfrost commented on #2233
Is there any way to make webpack utilize unminified Preact files (to make debugging possible in development)?

[2021-01-26 13:53] evenfrost commented on #2233
Apparently, you need to map `preact` and all related imports to their unminified version via webpack's `resolve.alias`. Here is my code put in `webpack.config.js` for reference:

[code]

[2021-01-26 14:01] Ninerian opened #2967 "Preact/compat not resolvable for dependency"
### Reproduction

Hello,

I currently try to setup a project, where I want to use an internal library, which is heavily relying on react. I setup the project both with rollup and snow pack and setup the aliases for react as it is documented. Unfortunately both bundlers cannot resolve the preact/compat module within the dependency.

In Rollup I simply get the error message:

`[!] Error: Could not l

[2021-01-26 15:17] Ninerian commented on #2967
I found the issue. I used the lib via npm link, which seems to have issues with the resolving. After manual copying it into the node_modules folder, everything worked.

[2021-01-26 15:17] #2967 closed

[2021-01-26 20:00] marvinhagemeister commented on #2967
Yeah, bundlers usually don't play well with `npm link` in my experience :S

[2021-01-26 22:14] marvinhagemeister commented on #2950
FYI: We just released 10.5.12 which reverts that change that lead to this issue :+1:

[2021-01-27 21:12] donlion commented on #2835
Any news on this?

[2021-01-28 23:48] simonv3 commented on #2748
@rschristian I'd opt for Testing Library, as it's the first listed [in the docs](https://preactjs.com/guide/v10/preact-testing-library)

[2021-01-29 03:43] rschristian commented on #2748
@simonv3 Gotcha, makes sense. Maybe at some point the templates will be converted then.

[2021-02-01 15:18] fabiospampinato commented on #2621
Hello there 👋 as somebody interested in switching to Preact I'd like to provide my personal wishlist for it, hopefully it will be somewhat useful to the maintainers here.

1. Running React's own test suite and reducing failing tests as much as possible.
   - Currently the most important feature of Preact that enables it to gain a lot of new users is compatibility with React, this compatibility isn

[2021-02-01 15:25] yisar commented on #2621
@fabiospampinato Unfortunately to tell you this is impossible.  Because React does not have integration testing at all, React only has unit testing, which only tests theoretical behaviors. The implementation details of preact and react are completely different, and the testing of react cannot be used.

[2021-02-01 15:37] fabiospampinato commented on #2621
@yisar I'm not familiar with React's test suite, isn't something like this fairly end-to-end?

https://github.com/facebook/react/blob/bb1b7951d182d36345c83154f9d9bab218011b46/packages/react-dom/src/__tests__/ReactDOMAttribute-test.js#L22-L28

With enough patching Preact should be able to run these, the internal unit tests we don't care about, it doesn't matter if they don't pass.

[2021-02-01 15:43] yisar commented on #2621
https://github.com/facebook/react/tree/master/packages/react-reconciler/src/__tests__

React has very few e2e tests, but more unit tests. Its main purpose is not to test the rendering "results", but to rendering "process". This does not apply to preact.

[2021-02-01 15:54] fabiospampinato commented on #2621
I don't know there seem to be a decent amount of them under [react-dom](https://github.com/facebook/react/tree/bb1b7951d182d36345c83154f9d9bab218011b46/packages/react-dom/src/__tests__), the tests regarding internal details of React's reconciler we don't really care about I guess, overall React is a fairly robust and well tested library right? I would be very surprised if they don't have enough in

[2021-02-01 16:07] JoviDeCroock commented on #2621
Hey @fabiospampinato

maintainer here, we often look at the output tests of React when we are solving a discrepancy so I do solemnly agree with you that we could do more of this, thank you for your input 😄

[2021-02-02 15:24] developit commented on #2382
Just an update since I stumbled on this in my neverending list of tasks: I did get a chance to prototype full support for object event listener values in Preact, it just ends up being a size increase we'll need to find workarounds for:

https://gist.github.com/developit/bd824b90cd4c26db0d99576bd4737273

[2021-02-02 19:15] frederikhors commented on #2760
@marvinhagemeister I wanna know why an update is trigger as an alert in console during development. Is this possible today?

[2021-02-03 04:57] gilbert commented on #2748
This may not be Preact's issue.

I'm working on a React project and I'm getting a very similar error. Here's a minimal example:

[code]

This gives the following TS error:

[code]

No idea what's causing this. I'm using React 17. Would be great to have a workaround.

[2021-02-03 09:44] marvinhagemeister commented on #2760
@frederikhors I'd love to hear more about the use case before adding such a feature. What kind of information you're aiming to get via the console.log output that's not present in devtools? Or are you looking for a different way to visualize renders over time?

[2021-02-03 10:54] marvinhagemeister commented on #2748
@gilbert that is it related to Preact. Can you file that issue in the React repo instead? This issue here is about interoperability between React and Preact typings and it sounds like you're not using Preact in the first place.

[2021-02-03 11:14] frederikhors commented on #2760
Ok. I will explain it differently. I'm developing a new app with React/Preact.

I would love to install `why-did-you-render` or something else and during my development I have my browser's console open. When some update isn't useful I would like to see an alert (a warning, a console.log()) in my console to fix it with `shouldComponentUpdate()` or with a refac.

Is it clear now?

[2021-02-03 11:37] marvinhagemeister commented on #2760
Thanks for the explanation. That sounds reasonable, I can add such a setting to the devtools. My main worry initially was that it could get a bit noisy depending on the app in question, as I'm unsure how we can differentiate useful renders from non-useful ones. But if it's a custom user setting it's good enough imo.

[2021-02-03 18:49] esanzgar opened #2974 "Unable to load/import 'preact/jsx-dev-runtime'"
The `package.json` for preact version 10.5.12 lists `preact/jsx-dev-runtime` as submodule:

[code]
However, I am unable to load/import it.

Babel `preset-react` has a [couple of option](https://babeljs.io/docs/en/babel-preset-react#importsource) to use `runtime: "automatic"` and `importSource: "preact"`. When these options are enable, babel loads `jsx-runtime` on production or `jsx-dev-runtime` on

[2021-02-03 20:34] gilbert commented on #2748
@marvinhagemeister Right. I posted not to get help, but to point out how `@types/react` may not have working types in the first place. Therefore, the original issue may not be Preact's fault, as Preact can't interop with broken declarations.

[2021-02-03 22:39] marvinhagemeister commented on #2974
This doesn't sound like an error coming from babel, but rather the bundler that's used here. Babel has no knowledge about the dependency graph and works on each file in isolation. Which bundler are you using in your project (webpack, rollup or something else)?

[2021-02-03 23:32] heymartinadams opened #2975 "A way to remove missing dependencies warning?"
### Reproduction

1. Install **Preact** and **React** like so:

#### package.json
[code]

2. Install other npm modules that use `react` as their dependency
3. Run

### Expected Behavior

Doing `yarn` (e.g. `yarn install [package]`) should not provide us with a list of warnings about missing React dependencies.

### Actual Behavior

Instead, because we have a fairly large codebase, we’re getting **

[2021-02-03 23:55] JoviDeCroock commented on #2975
You can add react as a dependency 😅 this is also meant for the Preact-cli repo I'd assume?

[2021-02-04 10:03] esanzgar commented on #2974
We use Browserify in our project.

Babel transpiles the code in this way:

[code]

If I changes the Babel's importSource to 'preact/compat', I found that Browserify successfully finds and loads `jsx-dev-runtime`:

[code]

[2021-02-04 11:59] marvinhagemeister commented on #2974
This sounds a lot like  a bug in browserify's resolution logic. From what you're describing it seems like they don't support [package entry points](https://nodejs.org/api/packages.html#packages_package_entry_points) (often referred to as package exports). Instead they seem to traverse the filesystem and look for `./node_modules/preact/jsx-dev-runtime.js`. This is definitely an upstream bug in brow

[2021-02-04 11:59] #2974 closed

[2021-02-04 12:31] panfeng-fe opened #2976 "open page with flash"
https://ai.baidu.com/easydl/

[2021-02-04 19:18] PetracekSimon commented on #777
thx a lot man <3

[2021-02-05 10:36] esanzgar commented on #2974
I filed an issue with Browserify: https://github.com/browserify/browserify/issues/1995

[2021-02-08 08:12] AryamnovEugeniy opened #2987 "One element may be rendered in place of another in case of conditional rendering"
### Reproduction

https://codesandbox.io/s/romantic-galileo-5lrjs?file=/src/index.js:73-1770

### Steps to reproduce

Run the CodeSandbox above.

In the code sandbox I have two elements that are rendered conditionally (the first div and the last div, they may be rendered or not rendered depending on `renderFirstElement` and `renderLastElement` state props), and some divs containing numbers between

[2021-02-09 15:25] AhmeeedMostafa opened #2997 "Issue in integrating (Preact X + styled-components) project/widget inside (React)"
Hey, I have found some while integrating a project (used preact & styled-components together) inside another react project.

### Reproduction

Check this [repo](https://github.com/AhmeeedMostafa/react-preact-recursion-test)

### Steps to reproduce

1. start some preact project & add styled-components
2. create some styled component by styled-components
3. Integrate that preact project inside react

[2021-02-09 17:04] caub commented on #2149
I've struggled so much with this!

I thought

    "preact": "^10.5.12",
    "preact-compat": "file:node_modules/preact/compat",
    "react": "npm:preact-compat@^some.version",

would have done the trick, but I kept having weird issues when `npm i` or with `npx react-scripts build`

in the end, what worked for me is hacky:

      "preact": "^10.5.12",
      "react": "file:node_modules/preact/compat

[2021-02-09 18:58] marvinhagemeister commented on #2149
FYI: `preact-compat` is for Preact <= 8.x and won't work with Preact 10. Starting with Preact 10.x it is available as an entry of the `preact` package: `preact/compat`.

[2021-02-10 09:12] caub commented on #2149
@marvinhagemeister Thanks, I did notice that, no worry. I'm just posting my solution for the record, and comparing with what others are doing

[2021-02-10 12:00] popuguytheparrot commented on #2149
https://github.com/DocSpring/craco-preact one else alternative way

[2021-02-11 12:00] on3dd commented on #2864
I think that the documentation should contain at least minimal examples of using this library with TypeScript, since I couldn't even run an example from the documentation 😕

[2021-02-11 14:03] marvinhagemeister commented on #2864
This issue is a duplicate of #2748 . As of today TS doesn't support aliasing of types or messing with their resolution.

@on3dd We have a dedicated page for TypeScript [in our documentation](https://preactjs.com/guide/v10/typescript). Just checked and those examples listed there work and compile via the official tsc compiler.

[2021-02-11 14:03] #2864 closed

[2021-02-11 16:36] #2149 closed

[2021-02-11 17:53] xorgy opened #3003 "onCompositionStart, onCompositionEnd, and onCompositionUpdate are bound to the wrong case-sensitive event name."
### Reproduction

### Steps to reproduce
 - Add an onCompositionStart to a Preact dom element
 - Try using an input method on that input, making sure to start a composition.

### Expected Behavior

The onCompositionStart handler should be called.

### Actual Behavior

The onCompositionStart handler doesn't get called because Preact binds it to `"CompositionStart"` rather than `"compositionstart"`

[2021-02-11 18:03] xorgy commented on #3003
I think this is an issue with the way Preact decides whether to case-fold events: it checks whether the element has a property named the case-folded version of the property starting with `'on'`, but even where `"compositionstart"` and `"compositionend"` are supported, they do not expose properties on the element, so Preact does not case fold.

[2021-02-11 18:34] xorgy commented on #3003
I have a branch <https://github.com/xorgy/preact/tree/fix-composition-events> with our workaround, obviously there's some golf to be done around this.

[2021-02-11 23:46] ScottAwesomeVida commented on #2621
You should really use onChange most of the time any, [it's decidedly more a11y friendly](https://webaim.org/techniques/javascript/eventhandlers)

[2021-02-12 10:24] kartikluke commented on #1321
Found that this error happens if `useMemo` is not exactly inside a functional component, it will throw an error if it's outside and even if it's inside another method.

[2021-02-12 16:47] brainlessbadger commented on #3003
Same applies to `focusin`, `focusout`, `beforeinput` and probably some other events.

[2021-02-12 18:00] marvinhagemeister commented on #3003
Need to look into it more in depth what's up with the casing. Regardless, Preact has always and will always support attaching event handlers with the exact casing defined in the HTML/DOM specs. That is the lowercase variants all work:

[code]

[2021-02-12 20:57] johncburnette opened #3006 "VBulletin conflicts with jsx using strings"
Hey guys,

Brought this up on slack and wanted to drop some info on an issue I'm seeing when preact is loaded with VBulletin. One of our publishers runs a forum and reported that headlines are not displaying properly. You can see this in this screenshot
![image](https://user-images.githubusercontent.com/56326230/107820460-d5626380-6d48-11eb-8ad6-749797da05d1.png)

As far as the code for building t

[2021-02-12 23:57] marvinhagemeister commented on #3006
This bug seems to be caused by the `props` normalization in `preact/compat` being wrongly applied on text nodes which have no props, only strings. This was fixed in [Preact 10.4.0}(https://github.com/preactjs/preact/releases/tag/10.4.0) and here is [the PR](https://github.com/preactjs/preact/pull/2410) that fixed it.

I'm not 100% sure on the reason why it only pops up when the `vbulletin` script

[2021-02-13 00:21] #3006 closed

[2021-02-13 01:51] xorgy commented on #3003
Probably the type definitions on the JSX should never have been camelcased to begin with. Attaching ones not in that type looks funny in tooling for TypeScript, though you are correct that it can be done. @marvinhagemeister

[2021-02-13 08:18] MicahZoltu opened #3009 "Add support for bigint."
### Reproduction
https://codesandbox.io/s/distracted-night-gc995?file=/index.js

### Steps to reproduce
[code]

### Expected Behavior
It should render `5n` as `5` or `5n` (I would accept either, though `5` would be better).

### Actual Behavior

[2021-02-13 09:26] the-fedorr commented on #2539
Same issue.
I see the following message in console:
`React will try to recreate this component tree from scratch using the error boundary you provided, ErrorBoundary.`
As a result it displays partially rendered page, what brokes UI.
Is there a way to disable this bihavior?

[2021-02-13 09:34] marvinhagemeister commented on #2539
@the-fedorr That sounds very much like you're using React instead of Preact. We don't have that string anywhere in our codebase.

[2021-02-13 09:55] #3009 closed

[2021-02-14 02:41] rschristian commented on #2997
I believe that, because of the way `styled-components` works, you need to bundle it with your widget, else you'll run into issues.

That being said, I didn't get the error you posted when running your demo example repo. You might have another issue there.

[2021-02-14 17:00] lambrospetrou commented on #848
@fab1an Did you ever get to finish the Kotlin wrappers for Preact? I am thinking on doing the same and trying to see if someone has already done it.

[2021-02-14 18:20] fab1an commented on #848
No, not yet.

[2021-02-15 11:08] the-fedorr commented on #2539
You're right, sorry.

[2021-02-15 11:38] AhmeeedMostafa commented on #2997
Nice, works after bundling styled-components in the dist yes,
but what if I need to use not bundled but transpiled version through babel (aka lib. not dist. build)?

[2021-02-15 20:38] rschristian commented on #2997
Why would you need to do that?

[2021-02-15 22:16] AhmeeedMostafa commented on #2997
@rschristian for giving the chance for the user to use the relative es modules for the components from NPM and also use his installed dependencies not to have the same dependency with multiple versions/times for avoiding the unneeded size increasing (which would be bundled in dist. Version and might the user has it already in his project)

[2021-02-15 22:31] rschristian commented on #2997
From what I understand, `styled-components` injects itself into React in order to do what it does. That won't work with what you're trying to do here, mixing React and Preact, as far as I know.

I totally get the reasoning, that a peer-dep would be nicer, but I don't think you can get away with that using `styled-components`.

[2021-02-15 22:45] AhmeeedMostafa commented on #2997
So the only solutions for now either to bundle it with the dist. Or to styled-components starts to support preact also in the same way it supports react, right?

[2021-02-15 23:05] rschristian commented on #2997
As far as I know the solution is to bundle it, yes,

The issue as I understand it isn't with `styled-components`, it's that the way that `styled-components` runs means it won't really work with this setup. It doesn't expect you to be using multiple different UI solutions. Generally, if you want that. you bundle everything into the widget so it can be run anywhere.

[2021-02-15 23:09] AhmeeedMostafa commented on #2997
Hmmm...thanks your answer was helpful!
And let's hope if someone else have a better suggestion

[2021-02-17 00:51] bdombro opened #3025 "virtual dom crash?"
I have an odd issue that I'm troubleshooting but am a little lost on where to start. I don't expect anyone to solve this for me, but any direction/tips would be appreciated.

I have a semi-complex Preact App with a strange behavior: occasionally the DOM stops syncing with components and never catches back up **ON MOBILE SAFARI ONLY**

Take this component for example,

[code]

At some point during

[2021-02-17 07:10] marvinhagemeister commented on #3025
Just checked various versions of Safari, but everything works as expected. It renders text just fine.

Are you able to narrow the problem down to a specific component in your application? One way to do that is to comment out as much unrelated code step by step (process of elimination). If the problem is reproducible in a small https://codesandbox.io/ we can take a look too.

Another thing you can

[2021-02-17 21:12] bdombro commented on #3025
Aha! After stepping through Preact, I figured out that I was inadvertently clearing all element listeners with my method for appending the body:

Adding html to the body using this method will clear all element listeners and thereby kill Preact runtime:
[code]

Thank you so much @marvinhagemeister for your tips. Hopefully my sharing of my issue and diagnosis will help future people.

[2021-02-17 21:12] #3025 closed

[2021-02-18 22:30] madeleineostoja opened #3029 "Error with new JSX runtime in NextJS: `Can't resolve 'preact/jsx-dev-runtime'`"
### Reproduction

Using NextJS 10 with:
- next-plugin-preact@3.0.3
- preact@10.5.12
- preact-render-to-string@5.1.12
- @preact/compat@0.0.4

And the following Babel config:

[code]

I get the following error:

[code]

### Steps to reproduce

- Install latest NextJS with plugin-preact
- Setup new JSX runtime according to Preact/Next docs
- See error

### Expected Behavior

- Should support new JSX

[2021-02-18 23:06] marvinhagemeister commented on #3029
Thanks for reporting this issue. The steps to reproduce listed here are not as detailed as they should be. Can you share an example repository where the issue is reproducible?

[2021-02-18 23:40] madeleineostoja commented on #3029
I can't share the codebase I'm working on since it's for a private company, but I'll see if I can whip up a demo repo when I get a moment.

[2021-02-19 08:44] marvinhagemeister commented on #3029
Yeah, no need to share that repo. The listed repro steps make it sound like it's reproducible in a fresh nextjs project.

[2021-02-20 08:32] JoviDeCroock commented on #3029
@madeleineostoja have you tried changing the `importSource` to `preact/compat` or `react` instead?

[2021-02-21 06:56] madeleineostoja commented on #3029
@JoviDeCroock setting `importSource` to `preact/compat` fixes it, thanks! Might be worth noting the gotcha with Next somewhere in the docs? Just because it's such a popular framework.

[2021-02-21 09:44] JoviDeCroock commented on #3029
Good point @madeleineostoja I'll make a PR to `next-plugin-preact` as that seems to be an ideal location, thanks for pointing this out to us 🙌

[2021-02-21 09:44] #3029 closed

[2021-02-22 14:32] fabiospampinato opened #3037 "Children rendered in the wrong order unless both of them are always rendered"
### Reproduction

I was unable to make a repro unfortunately.

### Steps to reproduce

I'll start with a video to make this clearer, basically I'm toggling a component ("Viewbar") in an app and when that component becomes rendered after it has been non-rendered (return `null`) it becomes rendered in the wrong position:

https://user-images.githubusercontent.com/1812093/108720605-efeec680-7518-11eb

[2021-02-23 02:42] drzax opened #3040 "Missing JSX.IntrinsicElements typings"
It would be helpful to add type definitions for `feFuncA`, `feFuncR`, `feFuncG` and `feFuncB` elements.

### Reproduction

I can't get type checking working in properly codesandbox, but here's what it looks like in VS Code:

<img width="813" alt="image" src="https://user-images.githubusercontent.com/596563/108794448-7961cf80-75d1-11eb-81af-6d1faf225ae2.png">

Looking at [`jsx.d.ts`](https://github

[2021-02-25 06:46] #3040 closed

[2021-02-25 08:11] joscul commented on #351
Had the same problem. Solved it by adding the key={src} to my image component and it worked. Got the idea here: https://stackoverflow.com/questions/50690956/react-img-not-immediately-changing-when-src-changes-how-can-i-fix-this

[2021-02-25 13:28] Bauke opened #3044 "Context provider can't be found"
### Reproduction

I haven't been able to create a contained reproducible example but it does happen to other people on different browsers. This used to work when I first wrote it but at some point an update somewhere must have broken it. I've tried looking at it and through the Preact documentation but as I'm pretty inexperienced with Preact I can't figure out what I'm doing wrong.

You can either

[2021-02-25 14:05] marvinhagemeister commented on #3044
The way Hooks work comes with one strong caveat by design, and that is that they must called consistently when a component renders. What's happening here is that this contract is broken in the `Header` component. The following is a simplified version:

[code]

Notice that the `useContext` hook is not part of the component's render cycle, but called inside an event listener. If we inline the `toggl

[2021-02-25 14:05] #3044 closed

[2021-02-25 14:16] Bauke commented on #3044
Oh my god, thank you so much! :sparkling_heart: I knew it was going to be just a simple answer of "yeah you're doing it wrong". This makes complete sense (and I even did it this way in another component too, silly me). Thanks for the quick response!

[2021-02-26 10:12] ludvigeriksson opened #3045 "Preact version 10.5.11 (& 10.5.12) breaks a specific rendering scenario"
As of Preact v 10.5.11 I noticed a scenario in my app in which rendering of an overlay in OpenLayers breaks.

### Reproduction

I've distilled it down to a minimal example here: https://codesandbox.io/s/gifted-shaw-xvoyg. The background map is only there for demonstration purposes & is not needed for the bug. The file responsible for the overlay rendering is `oloverlay.js`.

### Steps to reproduce

[2021-03-02 19:15] reece-berens opened #3046 "Difference Between Preact & React with Material-UI Menu"
I am working on a navigation menu for work and am noticing an inconsistency in the way Preact and React handle the onMouseLeave event for a div that contains a Material-UI Menu component.
I have a div that contains a menu item that, on a mouse enter event, should open another menu to allow for more options to be displayed. I used [this React-based repo](https://github.com/azmenak/material-ui-neste

[2021-03-04 08:36] Aswathprabhu commented on #3045
I'm too facing a similar issue recently (version **10.5.11** onwards) and I've managed to repro this in an example.
In my example, I'm rendering a custom element which is a modal dialog. Everything works fine in the initial render until I mutate any state in a context wrapping the app. I mutate the state in the modal and the **deep child elements** get **pulled out to the top level** within the mo

[2021-03-04 18:15] tjw0051 opened #3049 "Unable to add custom props to standard JSX components with Typescript"
I'm trying to add a custom prop as a standard html attribute to all components, for example:

[code]

### Expected Behavior

If I add an unknown prop to the div element I get the error:

`Property 'translate' does not exist on type 'HTMLAttributes<HTMLDivElement>'.ts(2322)`

I've tried redefining the interface for HTMLAttributes in my `declaration.d.ts` file as:

[code]

But this produces the same

[2021-03-04 18:52] rschristian commented on #3049
I believe you want something like this:  https://github.com/preactjs/wmr/blob/42fa94027c0adc05b1e05b364010eb39203a12e8/packages/preact-iso/router.d.ts#L22-L27

Just swap out `RouteableProps` for whatever you want.

[2021-03-05 03:04] gpoitch opened #3050 "<picture> element rendered with preact is broken in safari"
In safari (latest v14), a picture element rendered with preact does not properly change its source as the window size changes.  It works correctly on Chrome and works correctly in all browsers when not rendered with preact.

Additionally, it also unneccesarily downloads the fallback img src in the preact version.

I'm guessing it's an issue with the order the vdom is built/appended, probably addin

[2021-03-05 12:35] marvinhagemeister commented on #3050
That's interesting. It seems like Safari is incapable of rendering dynamically created `<picture>` elements properly. The following snippet reproduces the issue for me without Preact in play:

[code]

[2021-03-05 13:40] marvinhagemeister commented on #3050
Ok, so the only thing that seems to trigger Safari to re-evaluate the `<source>`-elements is to update one of it's attribute. This can be done automatically in Preact via the following options hook (add this once to the project).

[code]

Filed an issue over at the webkit bug tracker. Hopefully they'll fix it in Safari https://bugs.webkit.org/show_bug.cgi?id=222801

[2021-03-05 18:58] gpoitch commented on #3050
@marvinhagemeister thank you for looking into this and for the great workaround. Indeed a safari bug. Hoping it gets some attention since it's a general js issue.

[2021-03-07 19:04] iMakedonsky commented on #2488
Suspense causes following error on preact 10.5.12:
`Cannot set property __h of null;`

While on latest 16.x react, everything works fine.

I used webpack aliases from docs.

This happens when I focus into this component in project running  on create-react-app+craco+typescript.

[2021-03-07 23:38] eliseumds commented on #2618
![image](https://user-images.githubusercontent.com/640840/110259116-14648d00-7f74-11eb-995f-2226c9152e16.png)

We use Preact for all of our embedded review widgets.

![image](https://user-images.githubusercontent.com/640840/110259167-57befb80-7f74-11eb-9628-c4462182dd9b.png)

![image](https://user-images.githubusercontent.com/640840/110259159-4e359380-7f74-11eb-9cde-e9270a511b63.png)

[2021-03-08 22:49] darklight9811 commented on #1206
Any updates on this?

[2021-03-09 12:59] fabiospampinato commented on #3037
I've kind of debugged this, basically I have a component, let's call it "Layout", which can accept some children components, the thing that Layout does is making the boundaries between those children draggable so that the children themselves can be resized, it's basically a component that manages resizable columns.

Now the issue is that in order for Layout to make those boundaries draggable it ad

[2021-03-09 13:16] fabiospampinato commented on #3037
Interestingly when the column is first hidden there are no such draggable nodes inserted in the DOM (no boundaries), so when it's asked to render again there aren't even any of those draggable nodes present yet, yet for some reason Preact still puts the now visible columns in the wrong position.

[2021-03-09 15:58] fabiospampinato commented on #3037
I tried making a clean repro but for some reason I still can't reproduce the issue with it, [here](https://codepen.io/FabioSpampinato/pen/vYyeRdb)'s the code for what is worth.

I tried extracting a repro from my codebase but things are too tangled with each other for me to be able to do that in any reasonable amount of time.

So I don't know, maybe I can connect with somebody on TeamViewer or som

[2021-03-10 09:47] jschill opened #3055 "Preact throws with @material-ui/data-grid"
### Reproduction
https://codesandbox.io/s/busy-bash-qxfs0

### Steps to reproduce
JS error on page load

### Expected Behavior
The above code is copy/paste from their example:
https://material-ui.com/components/data-grid#mit-version

### Actual Behavior
`TypeError: i.current.getLocaleText is not a function`

That error is referencing to this LOC:
https://github.com/mui-org/material-ui-x/blob/c1794

[2021-03-11 09:02] PuruVJ commented on #2621
You say the perf dropped? That's weird, cuz in my case, the perf increased like crazy. My app uses a lot of heavy animations, which would cause some heavy jank. Switching to Preact actually got rid of that. https://puruvj.dev/blog/moving-macos-from-react-to-preact-vite#Runtime-performance

[2021-03-11 12:22] fabiospampinato commented on #2621
@PuruVJ Navigating a list in my app using Preact takes about 20% more computation compared to doing the same thing with React, yeah. That's just a fairly narrow thing though, which people won't notice anyway, other than that I haven't looked enough into it to say anything precise about Preact's performance overall, it seems alright so far for my use case.

[2021-03-11 12:38] PuruVJ commented on #2621
Fair enough

[2021-03-12 06:07] Zhanadil1509 commented on #2849
i'm writing in webpack.config:
resolve: {
    alias: {
      "react": "preact/compat",
      "react-dom": "preact/compat"
    }
  }

and random wrong DOM elements order. For example:

before:
<header>
<main>
<footer>

after:
<main>
<footer>
<header>

How to fix?

[2021-03-12 06:23] chmelevskij opened #3057 "No known conditions for "./compat/server" entry in "preact" package"
I'm using `vitejs` with custom server in quite large monorepo with typescript, but for single application and keep getting this error:
[code]

every time I switch my branches.

Aliasing is done in similar fashion as in rollup
[code]

And it used to work, but now, I need to tinker around with modules in some quite unpredictable fashion to get it to work 😢

It does work with react.

### Reproduction

[2021-03-12 07:05] marvinhagemeister commented on #3057
This issue was resolved with PR #2873 and released as part of Preact version `10.5.8`. The current version is `10.5.12`. To resolve this issue, update to the current version of Preact.

[2021-03-12 08:18] chmelevskij commented on #3057
Interesting, I think that pr brakes the vitejs though 😢 I keep getting `require` is not defined there

[2021-03-12 09:02] marvinhagemeister commented on #3057
Reopening: Sounds like we need to add an esm version.

[2021-03-12 09:15] #3057 closed

[2021-03-12 16:32] Riku32 commented on #1206
Yeah having the same issue

[2021-03-13 14:10] jamesscottbrown commented on #3037
I also hit this bug (or, at least, a similar bug), and have a way to reproduce it:

* create a new project with ` npx preact-cli create simple dom-bug-reprex`
* replace `index.js` with

[code]

Pressing the "Remove" button next to any of 1/2/3/4 will mess up the order of the sections.

As @fabiospampinato  observed, this can be worked-around by using `<>` and `</>`  to give:

[code]

[2021-03-13 14:19] jamesscottbrown commented on #3037
Setting a `key` for each `item` doesn't solve the problem, but does have an effect - it fixes the problem for the delete button next to 1, but not the delete button next to 2.

[2021-03-13 17:22] andrewiggins commented on #1206
What version of Preact are you using? On master I'm seeing all references to the `ref` property marked as optional which I think would fix this issue.

[2021-03-13 18:11] webschik opened #3060 ""tabIndex" attribute is set to "0" instead of being removed"
- [ ] Check if updating to the latest Preact version resolve the issue

**Describe the bug**
Hello!
I found an issue with resetting (setting to `undefined`) of the `tabIndex` attribute.
If I try to set `undefined` as a value for `tabindex` Preact sets its value to "0" instead of removing the attribute.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/preact-tab

[2021-03-14 11:24] #3060 closed

[2021-03-14 11:26] jamesscottbrown commented on #3037
This might be the same issue as https://github.com/preactjs/preact/issues/2987 ?

[2021-03-14 22:24] johakr opened #3066 "Suspense component.__hooks might be null"
- [x] Check if updating to the latest Preact version resolve the issue

**Describe the bug**
There seems to be a regression with lazy Suspense and hooks, triggering this error message `Cannot set property __h of null`, resulting in the component infinitely rendering the fallback markup.

Everything seems to work fine until preact 10.5.4. First broken version seems to be preact 10.5.5.

Changing th

[2021-03-15 15:46] eliseumds commented on #2618
An internal admin app (aliased React to Preact):

<img width="692" alt="Screen Shot 2021-03-15 at 10 45 21 am" src="https://user-images.githubusercontent.com/640840/111181144-a9badf00-857b-11eb-86f9-d73abc41d7c2.png">

[2021-03-15 16:00] eliseumds opened #3069 "colSpan="100%" becomes colspan="0""
**Describe the bug**

When using `<td colSpan="100%">`, the output is `<td colspan="0">`.

![image](https://user-images.githubusercontent.com/640840/111183096-901a9700-857d-11eb-8020-0f8d1197b631.png)

**To Reproduce**

https://codesandbox.io/s/busy-waterfall-it1tt

**Expected behavior**

It shouldn't change the attribute value, it should output `<td colspan="100%">`.

**The culprit**

[code]

htt

[2021-03-16 12:11] joehua87 commented on #3066
I've used the `lazy` function mentioned here https://github.com/preactjs/preact/issues/2915#issuecomment-761283581 & it works

[2021-03-16 15:57] marvinhagemeister commented on #3069
Using a string for `colspan` is invalid HTML. [The spec](https://html.spec.whatwg.org/multipage/tables.html#attr-tdth-colspan) has this to say:

So only positive integers are allowed.

[2021-03-16 15:57] #3069 closed

[2021-03-16 16:00] tbgse opened #3070 "Nextjs + Preact + Webpack 5 | Error: Hook can only be invoked from render methods"
Hi Preact team. First of all thanks for the amazing work 🌮

**Describe the bug**
Whenever using *any* hooks with webpack 5 / next / preact I'm observing the following error:
[code]

I'm not sure if this is a problem with preact itself or possibly with the `next-plugin-preact`. This bug does only occur after making the switch to webpack5. Before everything worked just fine. To be very clear, this i

[2021-03-16 16:11] eliseumds commented on #3069
@marvinhagemeister so React is doing magic under the hood. Thanks for the info.

[2021-03-16 19:40] roman-holovin commented on #2621
I wonder if between new rendering restructuring and this

it will be possible to create a shallow renderer that is not going to depend on DOM and therefore will not require `jsdom` or other DOM implementation for unit testing.

[2021-03-16 21:07] marvinhagemeister commented on #3070
Some preliminary findings: The error is caused by module aliasing not working for some reason in node. The rendered DOM tree is passed to `react-dom/server` instead of `preact/compat/server`. Don't know why yet.

[2021-03-16 21:16] tbgse commented on #3070
really appreciate that you're looking into it so quickly. Do let me know if you need any further info or if there is anything I can do to help.

[2021-03-17 19:30] iMakedonsky commented on #2745
@marvinhagemeister  Thanks for this hack, it helps with following issue:

[code]

[code]

Which happens because somewhy onclick event gets processed in separate stack after the popup with element which was held in that `inputRef` was unmounted(there was onClick navigation on that element), so the `current` became null.

This works perfectly fine in React, probably because they process all events b

[2021-03-18 06:57] iMakedonsky opened #3071 "Prerendering/snapshotting white screen flash with async components"
**Describe the bug**
Preact causes white screen flash during rehydration of async components
See: https://github.com/theKashey/react-prerendered-component/issues/8
https://github.com/stereobooster/react-snap#%EF%B8%8F-caveats

**To Reproduce**

1. Have preact 10.5.13 configured via `preact/compat`
2. Have a page with nested lazy components(e.g. React-router switch with all root components being la

[2021-03-18 11:48] marvinhagemeister commented on #3071
Check out [`preact-iso`](https://www.npmjs.com/package/preact-iso) for the current recommended way to do partial hydration in Preact. It keeps the current page alive until the new one is ready.

The Preact section in the README of `react-snap` is aimed at Preact <=8.x. The third argument to `render()` should not be used anymore. We've sort of deprecated that with the introduction of Preact 10 and

[2021-03-19 12:01] iMakedonsky commented on #3071
Thanks for pointing to preact-iso, @marvinhagemeister. After proxying `react.lazy` to `preact-iso.lazy` in combination with `preact/compat` and `react-router`, it works like a charm even faster and smoother than before, both with and without pre-rendering with react-snap!

🎉

[2021-03-19 12:01] #3071 closed

[2021-03-21 16:32] andrewiggins commented on #2745
An alternative workaround for the original issue could be to call `setChecked()` in the `onClick()` handler. What I like about this "workaround" is that it more closely aligns with the DOM's behavior. In the `click` event, the DOM has changed the state of the checkbox, but in our code we don't sync our state to match the DOM's updated state. By calling `setChecked()` in the `onClick()` handler, ou

[2021-03-21 19:15] vyushin opened #3074 "hooks.mjs imports @latest version of preact for direct (and oldest) versions."
- [ ] Check if updating to the latest Preact version resolves the issue

https://codesandbox.io/s/serverless-resonance-spus5

**Describe the bug**
Preact hooks script is importing latest version of preact for every version. It makes conflicts for instances.

**To Reproduce**

https://codesandbox.io/s/serverless-resonance-spus5?file=/index.html

Steps to reproduce the behavior:

1) Open https://cod

[2021-03-21 19:23] vyushin commented on #2690
The same error. I think this is because hooks.mjs imports latest version of preact for every version. Make an issue #3074

[2021-03-22 04:10] rschristian commented on #3074
So that's not actually something done here. `preact/hooks` doesn't necessarily depend on the latest version of `preact`. It only lists Preact v^10.0.0 as a peerDep: https://github.com/preactjs/preact/blob/4e29ec70332c8c1c7cfb002d4069f2c9db2831f2/hooks/package.json#L20-L22 In this situation, it's up to Unpkg to choose how to supply that peer dependency, and I guess it chooses the latest version.

I

[2021-03-22 06:44] maltoze commented on #936
Why was `null` removed?
https://github.com/preactjs/preact/blob/4e29ec70332c8c1c7cfb002d4069f2c9db2831f2/src/index.d.ts#L225-L229

This error appears again.
`Type 'null' is not assignable to type 'Element | Document | ShadowRoot | DocumentFragment'.ts(2345)`

[2021-03-22 09:11] marvinhagemeister commented on #3074
The problem is that module resolution is broken in `unpkg`. See:

- https://github.com/mjackson/unpkg/issues/281
- https://github.com/mjackson/unpkg/issues/129
- https://github.com/preactjs/preact/issues/2564

The issue has open for a long while over at `unpkg` and it's therefore probably unlikely that they'll fix it. So the only solution is to switch to a CDN that does follow the module spec. The

[2021-03-22 09:11] #3074 closed

[2021-03-22 15:51] rdalmas commented on #2488
@iMakedonsky I fixed after lazy loading the module encapsulated within the Suspense. Have you tried that?

[2021-03-22 16:34] andrewiggins commented on #936
Here, this is TypeScript informing you of a possible runtime exception in your code involving `null` (what `strictNullChecks` aims to do). Looking at the code sample again:

[code]

If browser can't find any element with the ID `root`, than `getElementById()` will return `null`. However, Preact requires a DOM element to render. We removed `null` from the allowed types in `render()` cause passing `

[2021-03-22 17:33] tbremer opened #3075 "Type definitions, Deno support."
- [ ] Check if updating to the latest Preact version resolves the issue

**Describe the bug**

Because of the way the type definitions in Preact are defined, they are unable to be used within Deno. See: https://github.com/denoland/deno/issues/9852

**To Reproduce**

The issue linked above has a reproduction steps, but I have also created a slim Github repo that reproduces this issue: https://githu

[2021-03-22 18:40] iMakedonsky commented on #2488
@rdalmas there were a couple of issues with suspense.
1) multiple lazy children inside suspense with `preact/compat` is causing one such bug. Fixed by wrapping only one lazy child inside a Suspense.
2) There is a problem with components triggering onClick callbacks after being unmounted. Fixed by:
[code]
3) There are hydrate issues if you're using ssr/prerendering. Resolved by using `preact-iso.la

[2021-03-22 20:12] aadamsx commented on #3075
@tbremer I was just today researching/considering using Preact for my next Deno project and came across this post.  Are you unable to actually use Preact with Deno?   From your post here: https://github.com/denoland/deno/issues/9852#issue-837355853 it seems you can't even do a simple render in Deno.

[2021-03-22 20:56] Amit-A opened #3076 "10.5.13 breaks something in compat/server.mjs (vs. 10.5.12)"
When I upgrade npm packages in my project, preact 10.5.13 breaks my webpack build with this error:

ERROR in ./node_modules/preact/compat/server.mjs 1:0-4:33
Can't reexport the named export 'renderToString' from non EcmaScript module (only default export is available)
 @ ./node_modules/@apollo/react-ssr/lib/react-ssr.esm.js
 @ ./node_modules/react-apollo/lib/react-apollo.esm.js
 @ ...

Downgrading

[2021-03-22 21:38] aadamsx commented on #3075
Have you considered Nanojsx? (it supports Deno out of the box) https://nanojsx.github.io

I guess preact has more actual react support, but if you don't need that then.

[2021-03-22 21:47] tbremer commented on #3075
Preact is my general goto view library, so I just naturally reached for it. I haven't heard of nanojsx, thanks for sharing.

There are ways around it, just none as great as the library provided types. The easiest solution is to create a `jsx.d.ts` file and delcare the namespace accordingly, then import it into your dependencies.

**jsx.d.ts**
[code]

**deps.ts**
[code]

You could also use the type

[2021-03-22 22:02] marvinhagemeister commented on #3075
@tbremer Ah so this means we need to declare the JSX type globally.

[2021-03-22 22:44] tbremer commented on #3075
Oh, I see, and if I am understanding correctly the JSX namespace is currently inside of the Preact namespace?

https://github.com/preactjs/preact/blob/master/src/index.d.ts#L7

[2021-03-22 23:05] aadamsx commented on #3075
@tbremer does this mean just adding a PR that moves line 7 outside the namespace?

[2021-03-22 23:25] tbremer commented on #3075
Not sure, I am testing that locally right now. @marvinhagemeister would that affect node TS projects or the React compat shimming?

[2021-03-23 01:05] tbremer commented on #3075
I did a little bit of digging, simply moving the line `export import` statement from line 7 to outside of the preact namespace did not resolve the issue (perhaps because the whole file is declared as a namespace on line 2?).

I've played around with a couple of ideas, none of which appear to be a simple solution.

I think there is some additional risk beacuse the JSX namespace was purposefully mov

[2021-03-23 01:45] lucacasonato commented on #3075
I can take a look at this tomorrow morning. I think this should be possible in a way that a) the dts file works with Deno, b) the mitigation for https://github.com/preactjs/preact/pull/1448 is kept, and c) it still works with Node.

[2021-03-23 08:32] priyanshuSharma-WebDev opened #3077 "Related to contribute in your project?"
Hey! I want to contribute in your project but your code base is quite large and I don't able to understand where should I start looking. But I really want to become a part of your community can anybody guide me if he/she doesn't mind or have time to guide me

I hope you will accept a newbie in your project like me.
Thank you very much in advance...

[2021-03-23 10:44] lvzegeng opened #3078 "当我使用preact和 //translate.google.com/translate_a/element.js 时，会渲染不正确"
渲染的错误Dom元素，包含了翻译之前的文字：
![image](https://user-images.githubusercontent.com/26923315/112134044-44b05a80-8c07-11eb-884f-ae5d8e7c71eb.png)

渲染的正确Dom元素：
![image](https://user-images.githubusercontent.com/26923315/112134329-98bb3f00-8c07-11eb-945a-fe8744ab4fe6.png)

[2021-03-23 11:28] rdalmas commented on #2488
@iMakedonsky You saved me hours of debugging with the #2. Thanks!

[2021-03-23 12:40] nothinginterested commented on #3077
fork it and start to debug! just fuck it

[2021-03-23 12:41] nothinginterested commented on #3077
just fork it and start to debug

[2021-03-23 12:47] priyanshuSharma-WebDev commented on #3077
where should I start to debug this project?

[2021-03-23 13:36] marvinhagemeister commented on #3077
We have a file with quick introduction for contributors in [our repository](https://github.com/preactjs/preact/blob/master/CONTRIBUTING.md). After reading that a good step is to go through the issues list, pick one which interests you or where you feel like you can solve that and file a PR 👍

[2021-03-23 20:32] lucacasonato commented on #3075
Have now attempted a fix in #3079. Test pass, and Deno seems to work now too: https://github.com/lucacasonato/preact-deno-types-error/tree/fixed.

[2021-03-23 23:26] developit commented on #3078
Please use this patch:
https://gist.github.com/developit/3e807962630ddbd4977cbd07b597f24f

I've spoken to the Translate team about this and suggested fixes, but it will take a long time.

[2021-03-23 23:27] developit commented on #3076
Can you list the version of webpack and whatever other bundler youre using?

[2021-03-24 00:55] Amit-A commented on #3076
`"webpack": "^4.46.0"`

[2021-03-24 03:00] lvzegeng commented on #3078
How should I use this patch
There is a problem with the options variable

[2021-03-25 10:15] birtles opened #3083 "Suspended nodes producing TypeError: Cannot read property 'length' of undefined"
- [ ] Check if updating to the latest Preact version resolves the issue

**Describe the bug**
(Sorry, this is going to be a really vague bug description. I don't have a minimal test case yet but I think I've debugged far enough to have some sense of the problem.)

Under some circumstances where `setState` is called early in the rendering pipeline (before the first complete render?) I encounter a s

[2021-03-25 11:46] birtles commented on #3083
For what it's worth I managed to stop the debugger at the point where the error was about to occur. As you can see, the "Lazy" component has an undefined `__k` (`_children`) member but it has a `type` that is a function so it will be passed along to `reorderChildren`.

<img width="380" alt="locals" src="https://user-images.githubusercontent.com/1232595/112467739-c5f42280-8daa-11eb-8426-7efc3cee5a5

[2021-03-25 21:03] jridgewell opened #3084 "Ref applied to Functional Component"
- [x] Check if updating to the latest Preact version resolves the issue

**Describe the bug**
AMP is using a function ref to support functional Components exposing a `useImperativeHandle` API on some (not all expose an API) components. For Components that don't call `useImperativeHandle`, Preact is calling the function with the `VNode`, which is inconsistent with React.

Importantly, we don't know

[2021-03-28 21:33] pokatomnik commented on #2690
@vyushin, the solution is not to use CDN you tried to use. ES modules feature they introduced is experimental. I have prepared a snippet, and It works just fine for me. Have you tried It?

[2021-03-30 15:29] developit commented on #3078
@lvzegeng - sorry, I forgot to include the import. I have updated the Gist, it should work now.

Just import this before any rendering happens:

[code]

[2021-03-30 15:32] developit commented on #3076
This is related to #3059 + #3061.

What version of `preact-render-to-string` do you have?

[2021-03-30 16:00] #3077 closed

[2021-03-30 16:31] Amit-A commented on #3076
```"preact-render-to-string": "^5.1.18"```

[2021-03-31 04:36] mapringg commented on #3055
Having the same problem. What can I do besides forking and adjusting @material-ui/data-grid?

[2021-03-31 17:55] rahulbhadhoriya opened #3095 "node_modules/preact/compat/server.mjs Module not found: Error: Can't resolve 'preact-render-to-string' in"
after version 10.5.13 i am getting this error while building

ERROR in ./node_modules/preact/compat/server.mjs
Module not found: Error: Can't resolve 'preact-render-to-string' in '/Users/B0216312/Desktop/node_modules/preact/compat'
 @ ./node_modules/preact/compat/server.mjs 1:0-4:33 1:0-4:33 1:0-4:33
 @ ./node_modules/google-maps-react/dist/components/InfoWindow.js
 @ ./node_modules/google-maps-re

[2021-03-31 17:55] rahulbhadhoriya commented on #3095
downgrading to 10.5.12 works fine.

[2021-04-01 07:07] K0IN opened #3098 "Cannot bind onended or autoplay to VideoElement (tsx)"
- [ ] Check if updating to the latest Preact version resolves the issue

**Describe the bug**
I cannot bind the video / HTMLMediaElement properties to a video element when I use typescript(build).

**To Reproduce**

[code]

Error message:

[code]

**Expected behavior**
Should be possible to bind.

[2021-04-01 08:19] JoviDeCroock commented on #3098
In JSX we have to use the camelCase syntax https://github.com/preactjs/preact/blob/master/src/jsx.d.ts#L486

[2021-04-01 19:07] fabiospampinato commented on #3037
Closing as `latest` fixed it.

[2021-04-01 19:07] #3037 closed

[2021-04-03 16:00] developit commented on #1480
Update if anyone runs into this: I've patched the JSFiddle to work with Preact: https://jsfiddle.net/developit/9jzyv6we/
Undom was missing `.localName` and `.data` (developit/undom#32), but the breakage was actually due to a fix JSFiddle rolled out that enabled strict mode for JS.

[2021-04-05 07:48] JoviDeCroock commented on #3098
Closing due to it looking like it's resolved

[2021-04-05 07:48] #3098 closed

[2021-04-05 11:30] CaptainChaos opened #3104 "setState callback not called"
- [ ] Check if updating to the latest Preact version resolves the issue
No, I'm using the latest version (10.5.13)

**Describe the bug**
The callback parameter of setState is never called

**To Reproduce**
[code]

**Expected behavior**
The callback should be called

[2021-04-05 11:56] marvinhagemeister commented on #3104
Would you mind sharing the surrounding component, in particular where you call `this.setState()`?  Without that it's kinda hard to guess what your scenario looks like from the snippet provided.

[2021-04-05 12:04] CaptainChaos commented on #3104
Hmm, thank you very much for the sandbox setup. I'll take a deeper look, will update here.

[code]

No preact-compat installed, project is typescript + webpack. Everything else works fine, e.g. other libraries, all other preact functions, other Promises etc.

[2021-04-05 12:22] marvinhagemeister commented on #3104
Where are you calling `loadData()`? Showing the full component might help.

[2021-04-05 13:13] CaptainChaos commented on #3104
I managed to reproduce the error in [codesandbox](https://codesandbox.io/s/agitated-greider-zbtip?file=/src/index.js). Did I misunderstand the concept somehow? Or is this indeed a bug?

[code]

[2021-04-05 13:15] JoviDeCroock commented on #3104
@CaptainChaos async stuff in `constructor` is quite subject to this, it's better to use a lifecycle for this purpose like: `componentDidMount()` https://codesandbox.io/s/cranky-khorana-1vnxg

[2021-04-05 13:26] CaptainChaos commented on #3104
Aha! Thank you very much for this perfect explanation! I'll close this, but first, is this somewhere mentioned in the docs?

[2021-04-05 16:50] developit commented on #3098
(fwiw the lowercase name is supported, it's just not in the type defs).

[2021-04-06 08:24] LXSMNSYC opened #3105 "Suspense: DOMException: Failed to execute 'insertBefore' on 'Node'"
- [ ] Check if updating to the latest Preact version resolves the issue

**Describe the bug**
If there are multiple components that suspended at the same time and tried to resolve at the same time, there's a chance that only one of the components will successfully re-render while the rest stays in their fallback state. I'm not sure the specificity but I think one of the reasons is that Preact fail

[2021-04-12 13:44] clyfish opened #3108 "should override children if null is provided as an argument"
- [ ] Check if updating to the latest Preact version resolves the issue

**Describe the bug**
React renders `<div children="A">{null}</div>` to `<div></div>`, but preact without jsx-runtime renders to `<div>A</div>`.

**To Reproduce**
preact without jsx-runtime
https://codesandbox.io/s/silly-cannon-62bju

preact with jsx-runtime
https://codesandbox.io/s/agitated-wind-1478m

**Expected behavior**
r

[2021-04-12 21:48] BlakeB415 commented on #2621
Definitely still want to be able to transpile at least to an ES5 bundle and load it instead if the browser doesn't support ES6 features.

Vue 3 is completely dropping IE support due to it using the ES6 Proxy object for reactivity which is language level and its behavior cannot be polyfilled.

[2021-04-13 16:26] MaximePlancke commented on #3045
We are also facing the same problem. Moving back to 10.5.10 solved it. We haven't tested on 10.5.13 yet

[2021-04-13 20:08] dcalixto opened #3109 "Preact Rails Dokku Heroku serve static file in production"
Hello after push a rails api with preact, the login and signup screen is not served by dokku, as both are static, i use the gem 'rails-static-router' and did not worked, but before show up this on the logs

    ActionController::RoutingError (No route matches [GET] "/signup"):

and then i put the action new on the users controller

    def new
    end

and on routes

    get "/signup",  to: 'users

[2021-04-13 20:11] JoviDeCroock commented on #3109
I  guesss this issue is aimed at [`preact-cli`](https://github.com/preactjs/preact-cli) you should be able to call `preact build` and see where it outputs stuff on your local fs and then expand that logic onto whatever you're using.

[2021-04-13 20:11] #3108 closed

[2021-04-19 03:23] MasterEric opened #3118 "componentDidCatch should pass the errorInfo parameter."
**Describe the feature you'd love to see**
Preact's version of componentDidCatch is not compatible with React's variant. The React variant includes a parameter called `errorInfo`; in the latest version of React, this is an object that contains only one string, which contains the component stack trace for the error that was caught.

This is important and useful as it allows improved error reporting

[2021-04-19 12:38] ludvigeriksson commented on #3045
Tested & broken on 10.5.13 as well

[2021-04-19 19:19] gpoitch commented on #1206
Hit this too. @andrewiggins it's complaining about `refs` (plural) which doesn't exist in preact's type file

[2021-04-19 19:49] andrewiggins commented on #1206
Oh! `refs` with an `s`! 🤦‍♂️ My mistake - thanks for guiding me through that lol.

I see. This is referring to the legacy string refs feature that Preact 10 doesn't have built in support for. Need to dig more into this and see what we can do.

[2021-04-19 19:52] darklight9811 commented on #1206
@andrewiggins, shouldnt this issue be reopened then?

[2021-04-19 20:30] natevw opened #3119 "Troubleshooting element scroll size change after `useLayoutEffect` fires"
- [ ] Check if updating to the latest Preact version resolves the issue

(Full disclosure: this project is still on `^10.4.5` for now **but** the problem persists when testing against `^10.5.13` manually too, so I don't think it's been fixed.)

**Describe the bug**

I have an accordion component which uses CSS for an animation and but includes some JS support code to configure an exact height for

[2021-04-19 22:23] andrewiggins commented on #1206
Can someone help me with a minimal repo? Or perhaps modify my attempt to reproduce the error? I tried to get one here with react-redux but TypeScript didn't throw any errors: https://gist.github.com/andrewiggins/f16d86f60a98a4f58b5a0facb64b3f74 I'm sure I'm missing something simple....

Do be sure to share your source, package.json, and tsconfig file.

[2021-04-20 10:10] dios-david opened #3121 "Hook states get lost with Suspense?"
I'm migrating a project from React to Preact and I noticed a weird difference in prepass during SSR. I know Preact is not guaranteed to be fully compatible with React, so maybe this is not a bug at all :)

But looks like ref values get lost when using Suspense on SSR. Take this component as an example:

[code]

What happens here is when the component is getting rendered in prepass:
1. Component se

[2021-04-20 11:24] JoviDeCroock commented on #3121
After taking a deeper look into `react-ssr-prepass` and `react` when it comes to Suspense I've found the following to be the case:

When React suspends on initial mount it will erase hookState in progress and retain hookState on subsequent Suspensions.
React-ssr-prepass keeps hookState around so one of the assumptions we do in compat doesn't hold up

[2021-04-21 11:07] JoviDeCroock commented on #3121
This issue will be fixed by https://github.com/sventschui/preact-ssr-prepass/pull/24

[2021-04-21 11:07] #3121 closed

[2021-04-21 11:08] #3109 closed

[2021-04-21 11:10] dios-david commented on #3121
Thank you @JoviDeCroock for digging into this and fixing it! 🥳

[2021-04-21 11:12] JoviDeCroock commented on #3095
Hmm I wonder if this is caused by `preact/compat` not having the `preact-render-to-string` dependency.

[2021-04-21 11:24] afshinm commented on #1259
Looks like the `render()` function doesn't return anything https://github.com/preactjs/preact/blob/master/src/render.js#L14-L64 -- Not sure if @apfelbox's answer is still valid.

Any suggestions?

[2021-04-21 23:33] mjomble opened #3126 "Unexpected behavior with replaceNode parameter"
- [x] Check if updating to the latest Preact version resolves the issue

**Describe the bug**
My apologies if this is a duplicate bug report. I did see some similar issues, but I'm not familiar enough with the internals to figure out reasonably quickly if it's the same issue or a different one 🙂

Basically, while the replaceNode parameter usually works fine, I stumbled upon a case where it behaves

[2021-04-23 03:13] yisar opened #3127 "Asynchronous rendering pipeline based on microtask"
This is my new discovery, which can implement a diving model similar to React fiber in the logic of synchronous recursion.

According to my experience, I think except for time slicing, all other features are not unique to fiber.

Next, I introduce a technology that can simulate the execution stack similar to fiber, which is beneficial to the life cycles and suspense.

[code]
Through the mechanism

[2021-04-24 00:38] vibe commented on #3046
This issue still persists, and actually affects various components for example the `Select` Component.

For Example.

React.
https://codesandbox.io/s/react-on-mouse-leave-forked-dtshr?file=/src/App.js
Preact.
https://codesandbox.io/s/preact-on-mouse-leave-forked-56e01?file=/src/index.js

[2021-04-24 16:51] dcalixto commented on #3109
Hello @JoviDeCroock thank you for your helo, and sorry for the delay, after place preact build
in the logs show up this: `Module build failed: ModuleBuildError: Module build failed: BrowserslistError: Unknown browser query `dead``

[2021-04-24 17:11] dcalixto commented on #3109
@JoviDeCroock i removed  "not dead" from  "browserslist" and now show this issues:

[code]

[2021-04-24 17:18] dcalixto commented on #3109
@JoviDeCroock using

[code]

[2021-04-25 12:17] dcalixto opened #3129 "preact UglifyJs issues"
After change react to preact, ive tried to call preact build!

but first was outputing no dead browserlist!

in the logs show up this: `Module build failed: ModuleBuildError: Module build failed: BrowserslistError: Unknown browser query `dead``

even removing the from package.json till the error!
[code]

so, i removed not dead from browserlist! and now output this

    ERROR bundle.ae21e.js from U

[2021-04-25 12:19] JoviDeCroock commented on #3129
As mentioned [earlier](https://github.com/preactjs/preact/issues/3109#issuecomment-819021253) this seems like a [`preact-cli`](https://github.com/preactjs/preact-cli) issue rather than a Preact one 😅

[2021-04-25 13:07] dcalixto commented on #3129
hello @JoviDeCroock thank you, so how can i update the uglify-js. i did know if im using preact-cli, i just chaged a react app to preact.

[2021-04-25 13:09] JoviDeCroock commented on #3129
Well how did you move the app over 😅 have you read [the guide](https://preactjs.com/guide/v10/switching-to-preact) I can see `preact-cli` in your stacktrace so you might have some conflicting stuff going on. There isn't much detail to your setup so I can only provide you with theoretical assessments.

[2021-04-25 13:16] dcalixto commented on #3129
@JoviDeCroock  i just followed the gude! so, can i provide the code?

[2021-04-25 13:18] JoviDeCroock commented on #3129
The most important bits would be how you extend your build-config, the command you run to build and so on. This because it sais you're running `react-scripts@3.2.0` which is the CRA default. This won't setup proper aliassing as mentioned in said guide.

[2021-04-27 02:31] developit commented on #1259
[code]

[2021-04-27 02:32] developit commented on #3095
Possibly, yeah. Maybe the upgrade switched his build to use MJS and that caused the import to fail instead of returning `undefined`?

[2021-04-27 10:44] jacobrask commented on #948
Even after including this patch we're seeing duplicate nodes (original language and translation). We have some parts of the page in Preact and some in React while migrating, and the React parts are working as expected.

Is there a way to debug the patch somehow? I'm not seeing the `_font` or `_data` properties on the font nodes, but `Element.prototype.insertBefore` shows

[code]

in the console so

[2021-04-27 20:20] bbgvalayev opened #3133 "PropTypes not working with preact/compat"
- [ ] Check if updating to the latest Preact version resolves the issue

**Describe the bug**
When using `prop-types` with `preact/compat` there is no validation happening.

**To Reproduce**

Install `preact ` 10.5.7 and `prop-types` version 15.7.2. Add prop type definitions to component. Pass wrong prop. Check console in dev tools. Also, tried enabling `preact/debug` but also no luck.

**Expected

[2021-04-27 20:27] marvinhagemeister commented on #3133
One key difference between React and Preact is that we don't rely on bundler magic to display errors or warnings during development. Instead we architected Preact to be pluggable from the get go. The addon you're looking for is `preact/debug`. This enables helpful warnings for potential errors like prop type validation during development.

To add that addon insert the import statement the top of y

[2021-04-27 20:29] marvinhagemeister commented on #3133
nvm reopening because the OP mentioned that he tried `preact/debug`

[2021-04-27 20:35] marvinhagemeister commented on #3133
@bbgvalayev PropType errors are printed to the console as expected for me. See this code sandbox: https://codesandbox.io/s/preact-prop-types-4dexz?file=/src/index.js

To be able to help we need to know more about your setup and a reproduction case.

[2021-04-27 22:29] matthias-ccri commented on #2150
For `ReactNode` I have `ComponentChild` instead of `VNode`.

Because according to [@types/react](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/index.d.ts#L228-L233), ReactNode includes `string` etc. But VNode is an object.

[code]

[2021-04-28 01:21] michaelpeterlee opened #3134 "AntDesign > Bugs"
- [ x] Check if updating to the latest Preact version resolves the issue

A number of AntDesign bugs exist, preventing on us using this. We likely have more, so will update this as we find them.

STEPS TO REPRODUCE:

https://codesandbox.io/s/priceless-cherry-4m1o4

1. <Select mode="tags" tokenSeparators={[',']} />
1.1. Works on the web with preact, however on iOS you have to hit enter key for the

[2021-04-28 14:02] jacobrask commented on #948
In fact it seems like `insertBefore` is not triggered at all by Google Translate, so maybe Google Translate has changed since the patch was written.

[2021-04-29 11:48] mattias-lonn commented on #948
Same here, I can't get this to work. I am trying to import the patch to my /src/index.js file but the result is the same.

[2021-04-29 15:35] nwesthoff commented on #948
We're experiencing issues as well. Our stack consists of a few things that might also cause this issue:
- `Preact` 10.5.13
- `Next.js` (with SSG) 10.1.3
- `react-query` 2.26.4
- `react-intl` 5.15.8

This may or may not have anything to do with the problem, but curious to hear if @jacobrask / @mattias-lonn are using a similar stack. As it might be a combination of these things. I haven't been able

[2021-04-29 15:46] jacobrask commented on #948
Ours is a small app without Next.js or your other dependencies. After debugging this further and setting breakpoints in the translate code in Chrome, I could see that in the context where insertBefore was executed, the patch is not applied. Not sure if this is a timing issue or something else.

If someone wants to troubleshoot further - open the Network tab and find the request being made to Googl

[2021-04-29 16:46] mattias-lonn commented on #948
@nwesthoff The original demo has a state error, that's probably why it doesn't work. My stack is a bit different from yours, the only dependency we have in common is preact. My current stack:
* preact: 10.5.13
* preact-cli: 3.0.5
* preact-render-to-string: 2.1.12
* preact-router: 3.2.1

[2021-04-30 13:18] mellis481 commented on #1206
@andrewiggins New to using gists, but I've reproduced this issue which I was seeing with the dropdownRender property of antd's Select component.  https://gist.github.com/mellis481/517fb15b186b1d5d3aa494ce0f453517

You should see the issue on line 38.

[2021-04-30 15:27] matthias-ccri commented on #2414
Workaround here: https://github.com/preactjs/preact/issues/2150#issuecomment-558622551. You may need to customize it. I agree it's not a great situation, so please upvote the issues, both this one and https://github.com/preactjs/preact/issues/2222 and https://github.com/preactjs/preact/issues/2150.

[2021-05-03 15:59] lf94 commented on #948
For those hitting the same issue, here is a solution which I have just tested: https://gist.github.com/developit/3e807962630ddbd4977cbd07b597f24f#gistcomment-3729943

Unfortunately I think Google Translate should expose some sort of flag to know the incoming insertBefore call is from it.

[2021-05-04 12:23] esanzgar opened #3137 "The type of `this` is not `event.currentTarget` onChange events"
- [ ] Check if updating to the latest Preact version resolves the issue

**Describe the bug**
The type of `this` onChange events is not `event.currentTarget` as the type definition implies:
https://github.com/preactjs/preact/blob/c7f57db13af43b8cc3353a138639ad9dd9523e16/src/jsx.d.ts#L368-L373

Also implied in this test:
https://github.com/preactjs/preact/blob/c7f57db13af43b8cc3353a138639ad9dd9523e

[2021-05-04 18:30] cpatti97100 commented on #2783
good evening all :) is there undergoing work about this? thanks!

[2021-05-04 20:18] imrishabh18 commented on #2714
@developit Is this issue still relevant? Can I work on this?

[2021-05-04 20:19] imrishabh18 commented on #2421
@marvinhagemeister Is this issue still relevant? Can I work on this?

[2021-05-04 22:46] michaelpeterlee commented on #3134
We reverted Preact and have not re-implemented to review further. Once these are fixed, we will take it for another spin.

[2021-05-06 06:34] klues opened #3138 "Define selected option of select element"
**Describe the bug**
I'm using Preact with HTM. I'm trying to generate a `select` with `option` elements where a specific option is selected by setting the attribute `selected` of the `option` element. However, this does not work as expected.

**To Reproduce**
Open https://jsfiddle.net/cfnwyLk8/ - in line 1 of the result, "Option2" should be selected by default, but "Option1" is selected.

I'm not

[2021-05-07 09:56] kapnoc opened #3140 "`preact build` hanging after successful build when using react-query"
- [ ] Check if updating to the latest Preact version resolves the issue

**Describe the bug**
When using react-query's `useQuery`, building with prerender (default) makes `preact build` hang indefinitely, after a seemingly successful build (no error message, and normal looking list of created files):
[code]

This doesn't hang, and does exit normally when using `preact build --no-prerender`

**To R

[2021-05-08 08:05] colinaaa opened #3141 "onLoad listener isn't removed after unmount"
- [ ] Check if updating to the latest Preact version resolves the issue

**Describe the bug**
The `onLoad` listener for `<img />` isn't removed after `<img />` unmount.

timeline:
[code]

**To Reproduce**
https://codesandbox.io/s/kind-jepsen-kqwte?file=/src/index.js

Steps to reproduce the behavior:
1. Keep refresh the page, and at some time the `imgRef === null`, which means when `onLoad` fires,

[2021-05-09 06:41] catalin560 opened #3142 "HMR doesn't work anywhere except in root?!"
Bootstrapped new project using `preact-cli` with the `Simple` template.  Running `npm run dev` or `preact watch` and after inspecting the devtools console this is the only message: `[HMR] Waiting for update signal from WDS...` But when I do some changes in `src/components/test.jsx` the page doesn't update, however if I do something in `src/index.js` HMR seems to work just fine...
So what am I doin

[2021-05-11 20:01] #3138 closed

[2021-05-11 20:07] developit commented on #3137
I believe this was intentionally removed in order to prevent misleading `this` usage in event handlers that was also incompatible with React. Personally I would like to amend the TypeScript types to reflect this, and simply have the context of events be `never` or some value that implies it is not to be used.

[2021-05-12 01:41] metehus opened #3148 "Problem when using build prerender"
- [x] Check if updating to the latest Preact version resolves the issue: **Yes, using preact 10.5.13**

## Describe the bug
Preact isn't able to prerender a project on build, with a file that does not exist.
When i run "preact build", it shows the following error:

[code]
The thing is that this file (`Promise.ts`) doesn't exist, either this last `src` folder. Here is my file tree:
![image](https:/

[2021-05-12 06:45] klues commented on #3138
thanks for your help! 👍

[2021-05-12 06:55] pt-hoang opened #3149 "Cannot read property 'insertBefore' of undefined when using `Suspense` and `lazy`"
- [x] Check if updating to the latest Preact version resolves the issue

**Describe the bug**
`Cannot read property 'insertBefore' of undefined` when using `Suspense` and `lazy`. Reason being `originalParent` is undefined in `Suspense`'s `removeOriginal` function

Works if checks `originalParent` before calling `insertBefore` on it
![image](https://user-images.githubusercontent.com/84064700/117931

[2021-05-12 19:20] damianobarbati commented on #2821
Wow I just stumbled upon this: I see both className and class prop passed with same value, I was debugging a weird double-class applied and found out it (spreading `{ className, ...props }`)).

Confirming 10.5.3 does not have the bug.

[2021-05-12 20:31] JonasKruckenberg opened #3150 "component._suspended is not a function, is true"
- [x] Check if updating to the latest Preact version resolves the issue

**Describe the bug**
A clear and concise description of what the bug is.

When triggering hmr with prefresh while using suspense & lazy the following error gets thrown:
(Note that you have to trigger the HMR from a different file that you main entry file)
[code]
From what I can gather on [suspense.js#L18](https://github.com/p

[2021-05-13 15:53] johanlajili commented on #3083
Seeing the same issue on a different (also complex) app.
It's very elusive, hapening once every dozens of refresh on local but more often on a deployed version.
I'd imagine it has something to do with a race condition with lazy components.
I have seen the error on both chrome and firefox.

[2021-05-13 16:27] johanlajili commented on #3083
From very anecdotal evidence, I think this is due to a Suspense directly inside of a Fragment, and might be fixed by this PR https://github.com/preactjs/preact/pull/3072

In the meantime, I've replaced my Fragment with a div and it looks like it fixed it.

[2021-05-15 18:19] philosofonusus opened #3154 "43 moderate severity vulnerabilities"
postcss  7.0.0 - 8.2.9
Severity: moderate
Regular Expression Denial of Service - https://npmjs.com/advisories/1693
fix available via `npm audit fix --force`
Will install preact-cli@2.2.1, which is a breaking change
node_modules/postcss
  autoprefixer  9.0.0 - 9.8.6
  Depends on vulnerable versions of postcss
  node_modules/autoprefixer
  critters-webpack-plugin  >=2.0.1
  Depends on vulnerable ver

[2021-05-16 22:47] developit commented on #3149
I think someone else ran into this as well. Not 100% sure what the root cause is.

[2021-05-17 10:15] klh commented on #2621
changed my mind on this, after microsoft is kicking ie11 down the  road, i think this should be dropped aswell

[2021-05-17 23:30] dios-david opened #3159 "Preact compat: class is forwarded without className"
Hey guys 👋

I know you already put lot of effort into fixing class/className issues in Preact compat, but I just found another weird thing which doesn't happen when rendering with React.

I prepared a unit test to [demonstrate the issue here](https://github.com/preactjs/preact/commit/57779bb68354fa1083f2b674fcf44b7bb1c7e87d):
[code]

This test fails with:

[code]

I think this happens because afte

[2021-05-18 12:26] developit commented on #3159
Thanks for the detailed repro! I think in order to fix this we will need to make `class` a non-enumerable descriptor when props.className is provided.

[2021-05-20 13:05] #3075 closed

[2021-05-20 21:11] arocheleau opened #3160 "options.requestAnimationFrame signature is incorrect"
I am using **preact** in a _TypeScript_ project.

According to the [guide](https://preactjs.com/guide/v10/options/), the **options.requestAnimationFrame** signature is `(callback: () => void) => void`.  However, in the _index.d.ts_ file, **options.requestAnimationFrame** is declared as

[code]

where the signature match the one from the default [requestAnimationFrame](https://developer.mozilla.org

[2021-05-23 17:58] yiliminiqihang opened #3161 "'_unmount' is not exported from 'preact' ("
'_unmount' is not exported from 'preact'

![image](https://user-images.githubusercontent.com/66466781/119271296-93906580-bc33-11eb-969f-94516f15e327.png)

[2021-05-24 18:00] marvinhagemeister commented on #3161
What's the code that lead to this error? It's an internal function that should not be used by anyone other than Preact itself. The stack trace seems to point to something trying to import `_unmount` from `preact/compat` which looks very suspicious as we don't have such an import in our code base.

[2021-05-24 20:59] #3104 closed

[2021-05-25 05:09] mprast commented on #2621
idk if I'm in the minority on this one but I just had to abandon Preact (which I was excited to use!) because getting the types to work with the React libraries I was using was just untenable (`emotion` in particular was a big sticking point). it seems like all the published solutions involve doing deep surgery on `preact/compat`'s existing types, effectively kneecapping typescript by enabling `sk

[2021-05-25 05:19] o-alexandrov commented on #2621
@mprast never had typings issues with preact and other libs.
Could you please provide a repro? Curious what you are dealing with.

My personal frustration in `preact` was with `hydrate` method with both SSR and prerendered html in the same browser and environment, but it's hard to share a repro for the unstable work of `hydrate`, so I decided using `render` is good enough for my use cases.

[2021-05-25 05:22] PuruVJ commented on #2621
@mprast did you have `@types/react` installed? I installed it and it works perfectly

[2021-05-25 05:22] mprast commented on #2621
@o-alexandrov @PuruVJ let me give it another shot - very possible the issue was on my end. If it doesn't work I'll put up a repro

[2021-05-25 05:28] PuruVJ commented on #2621
If you install @types/preact, your `class` might stop working. To fix that, add this snippet to your types.d.ts inside the `src` folder

[code]

[2021-05-25 06:08] mprast commented on #2621
ok last comment I'll leave on this issue - @PuruVJ installing `@types/react` worked, but is that the 'official' way to get types to line up? I would imagine that would cause problems when trying to use imported library methods with preact components, etc. or did you mean to type `@types/preact` in your first post?

@o-alexandrov confirmed again this doesn't work on my project; when I have time I'l

[2021-05-25 06:14] o-alexandrov commented on #2621
@mprast I'm using `emotion` w/ Preact and haven't had any issues except one that was [resolved here](https://github.com/preactjs/prefresh/issues/321).

Since your issue seems to be related only to typings, it might be a good idea to revisit [preact's TypeScript guide](https://preactjs.com/guide/v10/typescript/).

[2021-05-25 06:26] PuruVJ commented on #2621
I said `@types/react` only. I use it in a project with 40+ components. Some stuff, Prreact doesn't have, so Using `React.` types help. Its actually better than either Preact types or React types

[2021-05-25 12:45] Abhi-ak opened #3164 "Issue while running npm run build"
Name expected

`[../node_modules/svelte-range-slider-pips/dist/svelte-range-slider-pips.mjs:22,0]`

This is the import i used in my component:
`import RangeSlider from "svelte-range-slider-pips";`

What is the reason for this error and how to fix this ?

[2021-05-25 15:13] marvinhagemeister commented on #3164
Please fill out the issue template and don't just delete that. We have it enabled for a reason and not just for fun.

You cannot render Svelte components with Preact.

[2021-05-25 15:13] #3164 closed

[2021-05-28 17:35] #3133 closed

[2021-05-31 16:25] andares commented on #2871
I have same problem too 😭

[2021-06-01 12:51] imgalli commented on #2488
Hi, is it likely that there'll be any progress on this? Am currently reverting to `10.5.4`.

I can see there was a PR but this was closed? https://github.com/preactjs/preact/pull/3128

[2021-06-01 15:55] jliebrand opened #3168 "Trying to get storybook to work"
Hi there - apologies if this is not a bug or if I should have put this elsewhere, but I can't get storybook to work with preact X

I'm getting
Module parse failed: Identifier 'h' has already been declared (31:9)

If I remove the import { h } from both the example components AND the stories, then it "works" but that's clearly not the right solution since I need it in the components?

I read in some

[2021-06-01 16:20] jliebrand commented on #3168
I should have probably added that I'm just doing the standard instructions from

https://www.npmjs.com/package/@storybook/preact

After which I do not see any components (but the dev console shows the warnings about 'h' being already defined). Removing the import of h 'solves' it and shows the components, but as I said I suspect I ought to be doing something else, because the components would clea

[2021-06-03 00:11] developit commented on #3161
This appears to be a broken local build.

mangle.json is required in order to build successfully.

[2021-06-03 00:11] #3161 closed

[2021-06-03 10:35] albv opened #3171 "Preact 10.x unnecessarily updates DOM for <select> options"
**Describe the bug**
Preact 10.x unnecessarily updates DOM (options's values specifically) for `<select>` element even if it's not changed.

**To Reproduce**
https://codesandbox.io/s/objective-jepsen-g55oi

Steps to reproduce the behavior:
1. Open Chrome Dev Tools and inspect select element options
2. Click on 'Render' button
3. See that every option's value is updated (highlighted with pink)

**E

[2021-06-03 16:09] oliviertassinari commented on #3055
While we support Preact for [MUI Core](https://github.com/mui-org/material-ui), the support of Preact might be challenging for [MUI X](https://github.com/mui-org/material-ui-x). We might look into it in the future, bundle size matters, and it could even be important for us if we need to expose an Angular or Vue wrapper with Preact.

[2021-06-04 16:36] jaxreiff commented on #1206
Also experiencing this issue- in my case there is a `Property 'refs' is missing` error when I try to use Enzyme to `shallow` or `mount` render any component, which I would expect would be a fairly common use case.

[2021-06-04 20:34] kksidd opened #3175 "Hooks - a little discrepancy between React and Preact"
- [ ] Check if updating to the latest Preact version resolves the issue

**Describe the bug**
Observed a little discrepancy in the behavior of 'useState' (and hence, by extension, also 'useReducer') hook in Preact as compared to React.

**To Reproduce**
Following codesandbox examples use the same code; the first one is in React while the second one uses Preact -
https://codesandbox.io/s/strange-wo

[2021-06-05 07:32] JoviDeCroock commented on #3175
This isn't a discrepancy in stateful hooks but more in how events/(un)controlled inputs work in Preact, let's look at this a bit deeper as to why it shows this unexpected behavior.

When we type into a text-field naturally it will just alter the value and disregard any `value` passed into it, i.e. the value is modified internally, hence why `e.target`, which is the input-node, carries an updated `

[2021-06-05 08:02] JoviDeCroock commented on #3168
This doesn't sound like an issue with `Preact` itself, have you tried whether the components work without the `h` import because as far as I am aware, both `preact-cli` and `storybook` automatically import your vnode-constructor for you.

[2021-06-05 10:24] kksidd commented on #3175
Thanks for the clarification :)

[2021-06-05 10:24] #3175 closed

[2021-06-06 22:57] drop1down opened #3177 "onInput different Preact <> React"
Both nearly same code work different on React and Preact (tested Firefox+Chrome).
React work like expected - but Preact is buggy.

Example:
Text input is limited to 10 chars for demonstration.
In real app it is limited to X bytes (not chars), it is not possible to simulate with maxlengt.

After entering long text, state is correct with 10 chars, but not text in textarea - it stay long.
If cursor p

[2021-06-06 23:00] JoviDeCroock commented on #3177
Duplicate of: https://github.com/preactjs/preact/issues/3175#issuecomment-855199222

[2021-06-06 23:03] drop1down commented on #3177
No, in real app i limit to BYTE LENGTH, NOT CHAR LENGTH
And this is impossible to do with maxLength

[2021-06-06 23:04] JoviDeCroock commented on #3177
I mean, still the solution proposed in the link issue is a workaround for what's happening and the explanation as to why it happens is there as well

[2021-06-06 23:12] drop1down commented on #3177
ok, this can work...

[2021-06-07 15:13] VottusCode opened #3178 "[compat] ComponentProps not in the React namespace"
- [x] Check if updating to the latest Preact version resolves the issue

**Describe the bug**
A clear and concise description of what the bug is.

Steps to reproduce the behavior:
1. Use React.ComponentProps from "preact/compat"
2. You will get an error that the React namespace doesn't contain said type.

Example libraries: @heroicons/react

**Expected behavior**
The type should be present as the

[2021-06-07 15:36] lishoulong opened #3179 "useEffect sequence difference with react"
- [ ] Check if updating to the latest Preact version resolves the issue

**Describe the bug**
in some circumstance in nested components,  useEffect execute in reverse order.
we expected the order is from child  to parent, but in reality the order is from parent to child.

**To Reproduce**

- react [example](https://codesandbox.io/s/hooks-shixu-forked-n6oz3?file=/index.js).
- preact [example](https

[2021-06-07 16:26] UserAbuser228 opened #3180 "Cannot find name 'h' with ts-loader"
- [ ] Check if updating to the latest Preact version resolves the issue

I already have a website on React and would like to migrate to Preact. My website is bundling with Webpack and ts-loader. And that's a problem, because I couldn't find how to migrate from React to Preact if I don't use babel. For example, [here](https://preactjs.com/guide/v10/getting-started#typescript-preact/compat-configura

[2021-06-07 19:27] marvinhagemeister commented on #3180
The classic JSX mode (=`"react"`) doesn't add imports for the jsx pragma function automatically. Those need to be imported by hand if the newer runtime mode isn't an option.

The new runtime mode which adds those imports automatically can be enabled by by setting `jsx` to either `react-jsx` or `react-jsx-dev`.

[code]

[2021-06-07 20:55] developit commented on #3179
I believe this is a bug. `useLayoutEffect()` fires in the correct (inner to outer) order.

[2021-06-07 20:56] developit commented on #3178
I believe the current recommendation is to use `@types/react` rather than relying on `preact/compat` for 1:1 (swappable) typings (though I'm not a huge TypeScript user myself).

[2021-06-07 20:58] developit commented on #3171
Yep, this is on the radar. That whole behavior is being removed in Preact 11, as it is a workaround for Internet Explorer 11.

[2021-06-07 21:01] developit commented on #3160
This is a good argument. We do not rely on the `time` parameter or any other `requestAnimationFrame`-specific logic. I think the types can be changed to:

[code]

[2021-06-07 21:08] developit commented on #3150
This feels like it might be a property mangling collision, similar to #3165.

The properties that could be colliding (if they end up also being set on Component instance):

- `_force` (hmm - this actually does get set on Components...)
- `_dom` (shouldn't collide, only used on `VNode`)
- `_catchError` (shouldn't collide, only used on `options`)

This leads me to believe the `true` value is being s

[2021-06-09 06:37] dioslaska commented on #2449
Resolved it using a solution provided by @developit

[code]

[2021-06-09 06:37] #2449 closed

[2021-06-09 07:56] luhis opened #3181 "useState type differences between React and Preact"
- [x] Check if updating to the latest Preact version resolves the issue

**Describe the bug**
The type definitions for useState differ slightly.

React: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/index.d.ts#L913
Preact: https://github.com/preactjs/preact/blob/master/hooks/src/index.d.ts#L10

The React definitions allow for calling useState with no initialState, and

[2021-06-11 13:53] jramanat opened #3186 "Add onfocusin/onfocusout to jsx.d.ts"
Based on the comments in https://github.com/preactjs/preact/issues/1611, it sounds like the recommendation for using the focusin + focusout DOM events is to use the standard all-lowercase forms (onfocusin/onfocusout) which will result in Preact calling addEventListener for the corresponding events.  This works fine at runtime, but we're running into issues in our TypeScript-only project as these p

[2021-06-11 15:50] #3181 closed

[2021-06-11 17:07] kethan opened #3187 "Preact build with only hooks?"
Is there a way where I just want hooks and functional components without those class components and mount functions? I just want a minimal build. Is it possible?

something like https://github.com/yisar/fre

[2021-06-11 20:27] developit commented on #3187
@kethan - not yet, but we're working to support this exact usage in Preact 11. Some of the architectural changes have already been implemented (eg: https://github.com/preactjs/preact/pull/3103)

[2021-06-11 20:30] developit commented on #3186
Yes! We should absolutely be including these in the TypeScript definitions as you described. If you're open to doing a PR, we'd be happy to review.

[2021-06-12 04:38] kethan commented on #3187
Wow feeling excited already. When is preact 11 releasing? :( or Can I use that beta version?

[2021-06-14 23:08] StephanBijzitter commented on #2621
I've seen some talk on dropping IE11 support and would like to chime in a bit:

I myself would still like IE11 support, although it really isn't a hard requirement. My current app is currently barely functional in IE11 anyway (for example: a Service Worker is required to do anything meaningful), but it's better than a blank page because the app doesn't even load.

I really wouldn't mind it - at al

[2021-06-20 08:22] schafer14 opened #3200 "Dealing with runtime env variables"
First, thanks so much for your work on Preact. I am a big fan of the project.

I have been looking for a way to declare a back end for my Preact app at (Docker) runtime. I am deploying my Preact app from a Docker container using Nginx.

My nginx.conf file looks like this

[code]

And my Dockerfile looks like this

[code]

Right now I have to supply `REACT_APP_API` at compile time, but I would like

[2021-06-20 08:25] JoviDeCroock commented on #3200
Hey

I think this issue is meant for the [`preact-cli repo`](https://github.com/preactjs/preact-cli) moving it there. There are several ways to specify an API, at build time we can use an environment variable https://github.com/preactjs/preact-cli#using-environment-variables if your API is "truely dynamic" and you really want it at runtime you can create an endpoint that returns the latest backend

[2021-06-22 12:47] Hayk-js opened #3203 "Cannot create property 'current' on string 'embedContainer',"
"next": "11.0.0",
    "next-plugin-preact": "^3.0.6",
    "preact": "^10.5.13",
    "preact-render-to-string": "^5.1.19",
    "react": "npm:@preact/compat",
    "react-dom": "npm:@preact/compat",
    "react-ssr-prepass": "npm:preact-ssr-prepass",
![Selection_022](https://user-images.githubusercontent.com/86301296/122926952-6ee5f580-d379-11eb-8857-e2285860d2fe.png)

[2021-06-22 17:03] marvinhagemeister commented on #3203
So what's the code esnippet that's causing the error?

[2021-06-25 02:19] JacobBas opened #3207 "useState on top level, rendered component results in `Uncaught TypeError: Cannot read property '__H' of undefined`"
When using https://cdn.skypack.dev/preact@latest, `useState` results in and error `Uncaught TypeError: Cannot read property '__H' of undefined` only when applied to the top level component being rendered to the DOM.

<details>
  <summary>
<strong>Non-working Example</strong>: Form component is the top level element mounted to the root causing `useState` to error out.
</summary>

[code]
</details>

[2021-06-25 06:23] marvinhagemeister commented on #3207
The main concept in most virtual-dom based frameworks is that components are lazily constructed by the framework, and not by the user constructing the component themselves. This is necessary for lifecycles and hooks to work.

[code]

So the fix is to let the framework handle the component instantiation:

[code]

[2021-06-25 06:23] #3207 closed

[2021-06-25 14:37] developit commented on #3187
We don't have a release date set yet, and aren't yet publishing alphas.

[2021-06-26 19:10] AJamesPhillips opened #3208 "Possible memory leak?"
- [x] Using Preact version: 10.5.13

**Describe the bug**
A memory leak on creating multiple elements

**To Reproduce**

Minimal repo with instructions to recreate [here](https://github.com/AJamesPhillips/possible_preact_redux_mem_leak).  Steps to reproduce:

1. [clone repo](https://github.com/AJamesPhillips/possible_preact_redux_mem_leak)
2. install node dependencies: `pnpm install`, `yarn instal

[2021-06-27 20:59] ShadiestGoat commented on #2618
My Set Game recreation (it has a timer thing, like a live split rip off, updates once in like 59ms)  (https://github.com/ShadiestGoat/set-game-site)

Hope it helps!

![Image](https://img.shadygoat.eu/rawi/1d82c326db1fd26a725a86427b6d21d92d6fb0d3cbe6c2c7a0b8dcecb022b11b.webp)

[2021-06-28 07:24] ShadiestGoat commented on #2621
Hey there is talk about 'moving component out of core', what does that mean?

[2021-06-28 09:46] PuruVJ commented on #2621
It means, that the `Component` class, using which you create class components(`class MyComp extends Component {`, will be moved to `preact/compat` rather than plain `import { Component } from 'preact'`

[2021-06-28 16:08] ShadiestGoat commented on #2621
Wait.. why? Is that not the official way to do it? Are function components a better practice?

[2021-06-28 16:11] joaopaulobdac commented on #2621
Since the introduction of hooks, function components have become more popular than class components.

[2021-06-28 17:02] ShadiestGoat commented on #2621
Ah gotcha, I will be switching my apps then :flushed:

[2021-06-30 13:43] IgnusG commented on #1400
@marvinhagemeister I've just ran into this issue with a library wrapper I've created https://github.com/IgnusG/react-shepherd-steroids and wanted to use inside of my preact code-base

I've built it with the new react-jsx active - so maybe that's an issue?

[2021-06-30 21:07] oscar-reyes-beachbody commented on #3078
Hello @developit I'm having the same problem and I have tried to use the patch but by the nature of the project I'm working on everything gets rendered using portals (it's a nav). Do you know how could I apply the patch to work for this scenario? Thanks!

This how I tried to use it.

[code]

[2021-07-01 10:32] Aswathprabhu commented on #3045
@marvinhagemeister just pinging to check if this any known issue! I can contribute if this is something quite easy to fix 😃

[2021-07-01 14:11] developit commented on #3045
Not sure it's a quick fix @Aswathprabhu, but it is indeed still an issue. I'll try to look into it asap.

[2021-07-01 16:31] gustavpursche opened #3211 "Zooming is extremely slow when using react-map-gl with Preact"
**Describe the bug**

When using the library [`react-map-gl`](https://github.com/visgl/react-map-gl) zooming the map is extremely slow in preact compared to react. The weird part is: as soon as the devtools are open and you are trying to record a performance profile, everything seems to be fine. I have no idea why this happens nor what could be done to debug this ...

**To Reproduce**

You can use

[2021-07-01 16:43] #3045 closed

[2021-07-01 17:18] JoviDeCroock commented on #3211
This seems to relate to how we queue updates, when I change the way of updating to synchronous behavior (like React) we see that it's smooth https://codesandbox.io/s/musing-easley-47424?file=/src/index.js

[2021-07-01 17:43] JoviDeCroock commented on #3208
Are you seeing these leaks in production as well? They seem heavily tied to the `$refreshreg$` helper of `prefresh`

[2021-07-01 17:49] #3208 closed

[2021-07-01 19:55] gustavpursche commented on #3211
@JoviDeCroock Oh wow, thanks! So far I've completely overlooked this options page. This indeed fixes the issue - I guess it's not a bug then, so I'm closing this issue.

[2021-07-01 19:55] #3211 closed

[2021-07-02 06:32] weijarz opened #3215 "forwardRef type error when use RefCallback"
Can not use RefCallback on forwardRef().

**To Reproduce**

[code]

Type error:
[code]

[2021-07-02 07:36] leader22 commented on #3215
FYI: #3214 may fix this 👀

[2021-07-03 19:23] #3141 closed

[2021-07-04 15:57] peterbe commented on #2268
Sorry for being late to the party but I upgraded recently and was hit with these cryptic errors. The solution was, much thanks to reading this issue + PR, to...

[code]

Although I admit I don't understand the details/subtleties of this but why can't `null` always be the default on these?
What's the point of a `Ref<HTMLInputElement | undefined>` type?

[2021-07-04 16:03] peterbe opened #3216 "`null` should be the default of useRef() hook"
**Describe the feature you'd love to see**

I don't know what version of `preact` and `typescript` I had before but since I upgraded to `preact` 10.5.14 and `typescript` 4.3.5 suddenly I was getting...

[code]

The solution was simple to type but not obvious when I started :)
[code]

I got it from: https://github.com/preactjs/preact/issues/2268

What I would expect is to be able to omit the `null`

[2021-07-05 04:36] Stupidism opened #3218 "[Need help]Cannot read property 'animationstartfalse' of undefined"
- [ ] Check if updating to the latest Preact version resolves the issue

**Describe the bug**
[Our sentry reported this issue](https://sentry.io/share/issue/809a4ca8632d4d7a959809a8082d3367/). And when I search the error message I got

![image](https://user-images.githubusercontent.com/5801015/124416617-f4aa6d80-dd89-11eb-8d13-a72c67503604.png)

**To Reproduce**

I have no idea how to reproduce at

[2021-07-05 06:12] marvinhagemeister commented on #3218
Can you follow the stack trace and share the snippet that caused this issue? Hard to tell from the sentry screenshot what is going on as it just show _that_ an error happened, but knowing that an error occured is not enough information to debug it.

Useful information that can help debug this issue is. Which component triggered the error? How does it look like? Where are you using `animationstartf

[2021-07-05 08:14] JoviDeCroock commented on #3218
My hunch would be that it happens [here](https://github.com/preactjs/preact/blob/master/src/diff/props.js#L153) but `DOM._listeners` being `undefined` sounds quite.... exotic

[2021-07-05 17:15] milochristiansen commented on #3150
I am getting this exact error, but I'm not doing anything weird as far as I know.

I trimmed my project down to a very minimal reproduction, presented here as a zip with 4 files. Three page components and one index.html that uses PReact Router. All libraries are loaded with unpkg via an import map. The server I'm using to test this is a simple static webserver that is coded to redirect all request

[2021-07-05 21:27] peterbe commented on #3216
See discussions in https://github.com/preactjs/preact/pull/3217 about the ultimate problem that this would deviate from React compat too much.

[2021-07-05 21:27] #3216 closed

[2021-07-06 07:55] birtles opened #3219 "lazy produces TypeScript error: `JSX element type 'Component' does not have any construct or call signatures`"
- [ ] Check if updating to the latest Preact version resolves the issue (it does not -- 10.5.13 is fine, but 10.5.14 is broken for me)

**Describe the bug**

As of 10.5.14 code like the following:

[code]

may begin to error with: `TS2604: JSX element type 'MyComponent' does not have any construct or call signatures`

#3139 changed the type of `lazy` as follows:

[code]

From what I can tell, in t

[2021-07-06 10:46] piotr-cz commented on #2150
I had similar problems when compiling tsx because on of the dependencies - [react-leaflet](https://react-leaflet.js.org/) uses react types extensively.

I was successful with a modified version of @types/react (without the [JSX namespace](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/46c3dc08d8efb51686530f24cea216ab8c17d8be/types/react/index.d.ts#L3047)), but then decided to just set `"s

[2021-07-07 18:14] PaulBlanche opened #3220 "Possible race condition leading to "TypeError: Cannot read property 'context' of undefined""
**Describe the bug**
There seems to be a race condition related to `useContext` with `Suspense` and `preact-ssr-prepass`. In my application i use `usePromise` (from `react-promise-suspense`) to await on certain computation server-side.

Sometimes (but not systematically) the ssr prepass fails with this error :
[code]

If i remove the longest computations (the ones that would need to be awaited on

[2021-07-08 07:39] klues opened #3221 "Can dangerouslySetInnerHTML be used with htm template rendering?"
I'm using htm template rendering and trying to use `dangerouslySetInnerHTML` like this:
[code]
However the `div` remains empty. Can `dangerouslySetInnerHTML` be used in any other way with htm template rendering?

[2021-07-08 08:30] PaulBlanche commented on #3220
It seems that some promise are not awaited on in `preact-ssr-prepass`, and a component's promise resolves after i call `render`. From what i understand, this error where `currentComponent` is undefined happens when a hook is called outside of a render path.

I think all promise that need to be awaited on a throwed in component, so i don't understand how `preact-ssr-prepass` could miss one. I'll ch

[2021-07-08 12:20] PaulBlanche commented on #3220
I managed to reproduce the bug here : https://github.com/PaulBlanche/preact-bug-reproduction
Strangely, the same code in codesandbox runs without errors.

[2021-07-08 14:22] marvinhagemeister commented on #3221
Yes, but the `dangerouslySetInnerHTML` prop expects an `object`, not a `string`. That's why it's not working for you.

[code]

[2021-07-08 14:22] #3221 closed

[2021-07-09 07:14] klues commented on #3221
Thank you, it's working! 👍

[2021-07-10 04:35] andyzys opened #3223 "import preact component with hooks in React Page"

[2021-07-10 10:04] #3223 closed

[2021-07-10 10:05] andyzys commented on #3223
fixed

[2021-07-13 09:58] benjamincombes commented on #3105
I have the same problem, just tried Preact for the first time, and I get this error anytime I start my app... Unfortunately, the softfix does not work for me, so I just can't use Preact until it's fixed.

[2021-07-13 22:56] RReverser commented on #3171
I'm running into this as well - I'm frequently updating a large form from an external source and I see all the `select>option[value]` constantly rerendering:

![image](https://user-images.githubusercontent.com/557590/125535479-ef765df8-817a-426a-978b-a033f5f8a184.png)

Another issue I've noticed - not sure whether related or not - is that if I omit `value` attribute on `option`s (which is perfectl

[2021-07-13 22:57] RReverser commented on #3171
Also: in Chrome Canary it's actually even worse - opening a dropdown immediately closes, I assume due to `option` changes. On Chrome stable it still works fine-ish.

[2021-07-14 11:08] albv commented on #3171
@RReverser FWIW I ended up using something like this https://codesandbox.io/s/focused-lichterman-m68bb

[2021-07-14 11:14] JoviDeCroock commented on #3171
Hmm I guess [this IE11 workaround](https://github.com/preactjs/preact/blob/master/src/diff/children.js#L182-L196) is the biggest issue here where we have to reset value and have it set later through the `diff`. This is not present in 11 but if this is causing issues we should look at an alternative workaround.

[2021-07-14 12:11] roydigerhund opened #3224 "Missing type="text" on inputs in prerendered HTML-files"
**Describe the bug**
On input fields in prerendered HTML-files, the type attribute is missing if it has the default value "text". Strangely this is not happening when testing directly with the "preact-render-to-string" package in this [CodeSandbox example](https://codesandbox.io/s/preact-render-to-string-test-with-inputs-bdis2?file=/src/index.js).

But it happens when I prerender the same content

[2021-07-14 12:51] marvinhagemeister commented on #3224
@roydigerhund The `text` attribute is present for me in the linked codesandbox. I'm not aware of any special behavior we do around that in `preact-render-to-string`.

<img width="771" alt="Screenshot 2021-07-14 at 14 51 04" src="https://user-images.githubusercontent.com/1062408/125624932-7d755414-3df2-46ba-a741-84cf5d955998.png">

[2021-07-14 12:57] roydigerhund commented on #3224
@marvinhagemeister yes, in the provided example `preact-render-to-string` will output the `type="text"` attribute. It is however not happening if I prerender the same content as in the CodeSandbox example with preact-cli's `build` script from the package.json.

I will create an example Github-Repo for it.

[2021-07-14 13:04] JoviDeCroock commented on #3224
I think this is an issue meant for https://github.com/preactjs/preact-cli

[2021-07-14 15:53] #3171 closed

[2021-07-14 19:57] Gamesh opened #3227 "global scope polution and conflict with jquery"
- [ ] Check if updating to the latest Preact version resolves the issue

**Describe the bug**
preact seems to define a global function named dollar, like jquery does:

[code]

[code]

when using preact with microbundle to create standalone libs, this conflicts with jquery on the page.

**To Reproduce**
create a new project `npx preact-cli create default preact-scope-test`
1. goto preact-scope-test

[2021-07-14 19:59] JoviDeCroock commented on #3227
Is this exclusive to preact-cli, if so the issue belongs in that repo 😅

[2021-07-17 12:05] rauschma opened #3229 "When passing a component to a library package: “Hook can only be invoked from render methods”"
I’ve read everything I could find on the issue, tried various workarounds, but nothing worked. That may be because my setup is slightly unusual (but the repro project is simple).

As an aside, I’m getting the same error if I try this with React.

Repositories for reproducing the problem:

* https://github.com/rauschma/preact-repro-lib
* https://github.com/rauschma/preact-repro-app

`preact-repro-l

[2021-07-17 13:07] satya164 commented on #3229
I'm wondering if 2 copies of the Preact are being included in the bundle.

[2021-07-17 13:38] rauschma commented on #3229
Nothing is bundled, it’s all Node.js.

[2021-07-17 13:59] visualfanatic commented on #3229
Everything works if you also pass `render` from `preact-render-to-string` to `logRenderedView` along with `MyComponent` in your `preact-repro-app` code. Looks like some side-effect, probably because of [the `options` object](https://github.com/preactjs/preact-render-to-string/blob/master/src/index.js#L9) that is shared between `preact` and `preact-render-to-string`.

[2021-07-17 14:09] rauschma commented on #3229
@visualfanatic Very helpful, thanks! A downside is that (AFAICT) this won’t work if `app` wants to pass a mix of components with hooks to `lib` (some from `app`, some from `lib`).

[2021-07-17 15:27] satya164 commented on #3229
@rauschma maybe included in the bundle isn't the right word, in this case, more like 2 copies are being run and they don't share internal state between them.

[2021-07-17 16:54] marvinhagemeister commented on #3229
@satya164 You have the right intuition. The issue is caused by loading 2 different copies of Preact. Both packages load their own instance of Preact. This happens because `preact-repo-app` loads `preact/hooks` and that in turn imports `preact`. The other package `preact-repo-lib` imports `preact-render-to-string` which loads `preact`.

This can be verified by checking both `node_modules` folders a

[2021-07-17 17:32] rauschma commented on #3229
Thanks @marvinhagemeister! Alas, bundling doesn’t seem to fix the problem, either (I tried with Rollup).

You sound like there is no real solution(?) At least the work-around is good enough for me for now. Alas, in the real-world version of the repos, I couldn’t let `lib` introduce context and use it via a hook.

[2021-07-17 18:29] satya164 commented on #3229
@rauschma in such scenarios, what I normally do is to use babel-plugin-module-resolver (or whatever module resolving mechanism available) to make sure that the package resolves to a single one.

[2021-07-17 18:35] marvinhagemeister commented on #3229
My comment was aimed at just relying on npm. The file syntax for dependencies only works for simple cases as it doesn't really understand the relationship between those two folders. It breaks for anything else.

Tools like `yarn workspaces` or `lerna` solve exactly this problem, which happens to be the same one as for monorepos where folders containe dependencies that depend on each other. Afaik n

[2021-07-17 18:47] rauschma commented on #3229
Ah, good point. With a proper install, this should go away.

I’ll take a look at workspaces, thanks! I’ve also heard good things about pnpm.

[2021-07-17 20:46] marvinhagemeister commented on #3229
Good point, `pnpm` workspaces work too 👍

[2021-07-18 09:38] Nedomas commented on #3149
I have the same problem when state above suspense changes. Did you find the solution @pt-hoang ? I understand this is preact only bug?

[2021-07-18 16:55] Pomax opened #3230 "rendering custom elements doesn't seem to work properly?"
**Describe the bug**

Preact seems to break hard when making it render custom HTML elements (e.g. lowercase elements with a hyphen in the tag).

**To Reproduce**

Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/vigorous-wing-1x0fg?file=/components/app.js
2. Click on the run icon, and see it work fine.
3. remove the `tile = '';` line so that the custom element kicks in
4. Click

[2021-07-18 18:00] marvinhagemeister commented on #3230
The error occurs because the custom element is invalid. You're calling `setAttribute` inside the `constructor` which is not permitted. It crashes with the same error in plain HTML with only native DOM functions too. The error is therefore not related to Preact.

You're likely looking for the [`connectedCallback`-lifecycle](https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_custom_el

[2021-07-18 18:00] #3230 closed

[2021-07-18 21:26] Pomax commented on #3230
Ahhh, got it, thanks!

[2021-07-21 07:38] Stupidism commented on #3218
Thanks for your reply. Your guess looks very close and I understand I must provide more info. For now, I can only get two more info:

1. The error happens only on two machines `35.229.126.86` and `35.203.150.252`. By looking up their IPs, I found they belong to Google Cloud, so I think they must be google spiders.

![image](https://user-images.githubusercontent.com/5801015/126449903-33416f4e-b161-

[2021-07-23 14:11] wilsonpage opened #3233 "[nextjs] Preact renders 5x when error is thrown in render and cancels rendering route"
**Describe the bug**
This is a bug related to Preact with Next.JS. If there's a better place to post this please let me know :) When an exception is throw in the render phase of a clientside rendered page the Next.JS `pages/_error` fails to render.

**To Reproduce**

- Repro: https://nextjs-preact-demo-wilsonpage.vercel.app/
- Source: https://github.com/wilsonpage/next-preact-error-handling-bug

S

[2021-07-23 14:57] developit commented on #3233
It looks like Next.js is repeatedly re-rendering the route (there are 5 calls to `preact.render()`), but I think this may be caused by Preact bubbling thrown errors past components with a `componentDidCatch()` method if that method doesn't set state:
https://github.com/preactjs/preact/blob/7e33abd70ceb32f19e82c281e6b4d35091920f6a/src/diff/catch-error.js#L24

I'd be down to remove this personally,